<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElementMapper">

	<!-- ElementID:column_sql,Generated=true -->
	<sql id="column_sql">
		  TA_JC_RULE_ELEM_RESULT.rlt_id ,
		  TA_JC_RULE_ELEM_RESULT.elem_id ,
		  TA_JC_RULE_ELEM_RESULT.business_id ,
		  TA_JC_RULE_ELEM_RESULT.rlt_value ,
		  TA_JC_RULE_ELEM_RESULT.rlt_memo ,
		  TA_JC_RULE_ELEM_RESULT.is_timesupervise ,
		  TA_JC_RULE_ELEM_RESULT.area_code ,
		  TA_JC_RULE_ELEM_RESULT.business_type ,
		  TA_JC_RULE_ELEM_RESULT.batch_id ,
		  TA_JC_RULE_ELEM_RESULT.tbcx_times 
</sql>

	<!-- ElementID:whereClause_sql,Generated=true -->
	<sql id="whereClause_sql">
	    <if test="rltId != null">and TA_JC_RULE_ELEM_RESULT.rlt_id = #{rltId}</if>
	    <if test="elemId != null">and TA_JC_RULE_ELEM_RESULT.elem_id = #{elemId}</if>
	    <if test="businessId != null">and TA_JC_RULE_ELEM_RESULT.business_id = #{businessId}</if>
	    <if test="rltValue != null">and TA_JC_RULE_ELEM_RESULT.rlt_value = #{rltValue}</if>
	    <if test="rltMemo != null">and TA_JC_RULE_ELEM_RESULT.rlt_memo = #{rltMemo}</if>
	    <if test="isTimesupervise != null">and TA_JC_RULE_ELEM_RESULT.is_timesupervise = #{isTimesupervise}</if>
	    <if test="areaCode != null">and TA_JC_RULE_ELEM_RESULT.area_code = #{areaCode}</if>
	    <if test="businessType != null">and TA_JC_RULE_ELEM_RESULT.business_type = #{businessType}</if>
	    <if test="batchId != null">and TA_JC_RULE_ELEM_RESULT.batch_id = #{batchId}</if>
	    <if test="tbcxTimes != null">and TA_JC_RULE_ELEM_RESULT.tbcx_times = #{tbcxTimes}</if>
</sql>


	<!-- ElementID:ResultElementResult,Generated=true -->
	<resultMap id="ResultElementResult" type="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
	<id property="rltId" column="rlt_id"/>
	<result property="elemId" column="elem_id"/>
	<result property="businessId" column="business_id"/>
	<result property="rltValue" column="rlt_value"/>
	<result property="rltMemo" column="rlt_memo"/>
	<result property="isTimesupervise" column="is_timesupervise"/>
	<result property="areaCode" column="area_code"/>
	<result property="businessType" column="business_type"/>
	<result property="batchId" column="batch_id"/>
	<result property="tbcxTimes" column="tbcx_times"/>
</resultMap>



	
	

	<!-- ElementID:insert,Generated=true -->
	<insert id="insert" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
	insert into TA_JC_RULE_ELEM_RESULT(
	         <if test="rltId != null">rlt_id</if>
	         <if test="elemId != null">,elem_id</if>
	         <if test="businessId != null">,business_id</if>
	         <if test="rltValue != null">,rlt_value</if>
	         <if test="rltMemo != null">,rlt_memo</if>
	         <if test="isTimesupervise != null">,is_timesupervise</if>
	         <if test="areaCode != null">,area_code</if>
	         <if test="businessType != null">,business_type</if>
	         <if test="batchId != null">,batch_id</if>
	         <if test="tbcxTimes != null">,tbcx_times</if>
	 	 	 )
	 values (
	         <if test="rltId != null">#{rltId,jdbcType=VARCHAR}</if>
	         <if test="elemId != null">,#{elemId,jdbcType=VARCHAR}</if>
	         <if test="businessId != null">,#{businessId,jdbcType=VARCHAR}</if>
	         <if test="rltValue != null">,#{rltValue,jdbcType=VARCHAR}</if>
	         <if test="rltMemo != null">,#{rltMemo,jdbcType=VARCHAR}</if>
	         <if test="isTimesupervise != null">,#{isTimesupervise,jdbcType=VARCHAR}</if>
	         <if test="areaCode != null">,#{areaCode,jdbcType=VARCHAR}</if>
	         <if test="businessType != null">,#{businessType,jdbcType=VARCHAR}</if>
	         <if test="batchId != null">,#{batchId,jdbcType=VARCHAR}</if>
	         <if test="tbcxTimes != null">,#{tbcxTimes,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

	<!-- ElementID:count,Generated=true -->
	<select id="count" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement" resultType="int">
	select count(*) from TA_JC_RULE_ELEM_RESULT 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

	<!-- ElementID:update,Generated=true -->
	<update id="update" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
	update TA_JC_RULE_ELEM_RESULT
<set>
	<if test="elemId != null">elem_id=#{elemId,jdbcType=VARCHAR},</if>
	<if test="businessId != null">business_id=#{businessId,jdbcType=VARCHAR},</if>
	<if test="rltValue != null">rlt_value=#{rltValue,jdbcType=VARCHAR},</if>
	<if test="rltMemo != null">rlt_memo=#{rltMemo,jdbcType=VARCHAR},</if>
	<if test="isTimesupervise != null">is_timesupervise=#{isTimesupervise,jdbcType=VARCHAR},</if>
	<if test="areaCode != null">area_code=#{areaCode,jdbcType=VARCHAR},</if>
	<if test="businessType != null">business_type=#{businessType,jdbcType=VARCHAR},</if>
	<if test="batchId != null">batch_id=#{batchId,jdbcType=VARCHAR},</if>
	<if test="tbcxTimes != null">tbcx_times=#{tbcxTimes,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="rltId != null">and rlt_id = #{rltId}</when>
        <otherwise>and rlt_id = </otherwise>
    </choose>
</where>
</update>

	<!-- ElementID:updateNull,Generated=true -->
	<update id="updateNull" parameterType="map">
	update TA_JC_RULE_ELEM_RESULT
	<set>
		<trim suffixOverrides=",">
		    <if test="elemId==null">elem_id = null,</if>
		    <if test="businessId==null">business_id = null,</if>
		    <if test="rltValue==null">rlt_value = null,</if>
		    <if test="rltMemo==null">rlt_memo = null,</if>
		    <if test="isTimesupervise==null">is_timesupervise = null,</if>
		    <if test="areaCode==null">area_code = null,</if>
		    <if test="businessType==null">business_type = null,</if>
		    <if test="batchId==null">batch_id = null,</if>
		    <if test="tbcxTimes==null">tbcx_times = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="rltId != null">and rlt_id = #{rltId}</when>
			<otherwise>and rlt_id = </otherwise>
		</choose>
	</where>
</update>

	<!-- ElementID:delete,Generated=true -->
	<delete id="delete" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
    delete from TA_JC_RULE_ELEM_RESULT where 1=1 and rlt_id = #{rltId}
</delete>
	<!-- 自定义删除所有数据 -->
	<delete id="deleteAll" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
		delete from TA_JC_RULE_ELEM_RESULT where 1=1
	</delete>
	<!-- 删除所有咨询的监察要素结果 -->
	<delete id="deleteConsultAll" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement">
		delete from TA_JC_CONSULT_ELEM_RESULT where 1=1
	</delete>

	<!-- 自定义删除数据ByBussinessId -->
	<delete id="deleteBybusinessId" parameterType="java.lang.String">
		delete from
		TA_JC_RULE_ELEM_RESULT where 1=1 and
		business_id=#{businessId,jdbcType=VARCHAR}
	</delete>



	<!-- ElementID:select,Generated=true -->
	<select id="select" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement" resultMap="ResultElementResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_ELEM_RESULT 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


	<!-- ElementID:insertBatch,Generated=true -->
	<insert id="insertBatch" parameterType="list">
	insert into TA_JC_RULE_ELEM_RESULT (rlt_id,elem_id,business_id,rlt_value,rlt_memo,is_timesupervise,area_code,business_type,batch_id,tbcx_times) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.rltId,jdbcType = VARCHAR},
				#{entity.elemId,jdbcType = VARCHAR},
				#{entity.businessId,jdbcType = VARCHAR},
				#{entity.rltValue,jdbcType = VARCHAR},
				#{entity.rltMemo,jdbcType = VARCHAR},
				#{entity.isTimesupervise,jdbcType = VARCHAR},
				#{entity.areaCode,jdbcType = VARCHAR},
				#{entity.businessType,jdbcType = VARCHAR},
				#{entity.batchId,jdbcType = VARCHAR},
				#{entity.tbcxTimes,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

	<!-- ElementID:deleteBatch,Generated=true -->
	<delete id="deleteBatch" parameterType="List">
	delete from TA_JC_RULE_ELEM_RESULT where rlt_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.rltId}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

	<!-- ElementID:updateBatch,Generated=true -->
	<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update TA_JC_RULE_ELEM_RESULT
	<set>
	<if test="entity.elemId != null">elem_id= #{entity.elemId,jdbcType=VARCHAR},</if>
	<if test="entity.businessId != null">business_id= #{entity.businessId,jdbcType=VARCHAR},</if>
	<if test="entity.rltValue != null">rlt_value= #{entity.rltValue,jdbcType=VARCHAR},</if>
	<if test="entity.rltMemo != null">rlt_memo= #{entity.rltMemo,jdbcType=VARCHAR},</if>
	<if test="entity.isTimesupervise != null">is_timesupervise= #{entity.isTimesupervise,jdbcType=VARCHAR},</if>
	<if test="entity.areaCode != null">area_code= #{entity.areaCode,jdbcType=VARCHAR},</if>
	<if test="entity.businessType != null">business_type= #{entity.businessType,jdbcType=VARCHAR},</if>
	<if test="entity.batchId != null">batch_id= #{entity.batchId,jdbcType=VARCHAR},</if>
	<if test="entity.tbcxTimes != null">tbcx_times= #{entity.tbcxTimes,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.rltId != null">and rlt_id = #{entity.rltId}</when>
				<otherwise>and rlt_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

	<!-- ElementID:selectAll,Generated=true -->
	<select id="selectAll" resultMap="ResultElementResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_ELEM_RESULT 
</select>

	<!-- ElementID:selectMany,Generated=true -->
	<select id="selectMany" parameterType="list" resultMap="ResultElementResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_RULE_ELEM_RESULT 
	where TA_JC_RULE_ELEM_RESULT.rlt_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		TA_JC_RULE_ELEM_RESULT.rlt_id
	    from TA_JC_RULE_ELEM_RESULT 
		 <where>
	        <if test="entity.rltId != null">and TA_JC_RULE_ELEM_RESULT.rlt_id = #{entity.rltId}</if>
	        <if test="entity.elemId != null">and TA_JC_RULE_ELEM_RESULT.elem_id = #{entity.elemId}</if>
	        <if test="entity.businessId != null">and TA_JC_RULE_ELEM_RESULT.business_id = #{entity.businessId}</if>
	        <if test="entity.rltValue != null">and TA_JC_RULE_ELEM_RESULT.rlt_value = #{entity.rltValue}</if>
	        <if test="entity.rltMemo != null">and TA_JC_RULE_ELEM_RESULT.rlt_memo = #{entity.rltMemo}</if>
	        <if test="entity.isTimesupervise != null">and TA_JC_RULE_ELEM_RESULT.is_timesupervise = #{entity.isTimesupervise}</if>
	        <if test="entity.areaCode != null">and TA_JC_RULE_ELEM_RESULT.area_code = #{entity.areaCode}</if>
	        <if test="entity.businessType != null">and TA_JC_RULE_ELEM_RESULT.business_type = #{entity.businessType}</if>
	        <if test="entity.batchId != null">and TA_JC_RULE_ELEM_RESULT.batch_id = #{entity.batchId}</if>
	        <if test="entity.tbcxTimes != null">and TA_JC_RULE_ELEM_RESULT.tbcx_times = #{entity.tbcxTimes}</if>
		</where>
</foreach>
)
</select>

	<!-- ElementID:selectUnion,Generated=true -->
	<select id="selectUnion" parameterType="list" resultMap="ResultElementResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_RULE_ELEM_RESULT 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 rlt_id
		FROM TA_JC_RULE_ELEM_RESULT 
			<where>
	        <if test="entity.rltId != null">and TA_JC_RULE_ELEM_RESULT.rlt_id = #{entity.rltId}</if>
	        <if test="entity.elemId != null">and TA_JC_RULE_ELEM_RESULT.elem_id = #{entity.elemId}</if>
	        <if test="entity.businessId != null">and TA_JC_RULE_ELEM_RESULT.business_id = #{entity.businessId}</if>
	        <if test="entity.rltValue != null">and TA_JC_RULE_ELEM_RESULT.rlt_value = #{entity.rltValue}</if>
	        <if test="entity.rltMemo != null">and TA_JC_RULE_ELEM_RESULT.rlt_memo = #{entity.rltMemo}</if>
	        <if test="entity.isTimesupervise != null">and TA_JC_RULE_ELEM_RESULT.is_timesupervise = #{entity.isTimesupervise}</if>
	        <if test="entity.areaCode != null">and TA_JC_RULE_ELEM_RESULT.area_code = #{entity.areaCode}</if>
	        <if test="entity.businessType != null">and TA_JC_RULE_ELEM_RESULT.business_type = #{entity.businessType}</if>
	        <if test="entity.batchId != null">and TA_JC_RULE_ELEM_RESULT.batch_id = #{entity.batchId}</if>
	        <if test="entity.tbcxTimes != null">and TA_JC_RULE_ELEM_RESULT.tbcx_times = #{entity.tbcxTimes}</if>
			</where>
</foreach>
	c2_temp_table ON TA_JC_RULE_ELEM_RESULT.rlt_id = c2_temp_table.rlt_id
</select>

	<!-- ElementID:selectByID,Generated=true -->
	<select id="selectByID" parameterType="java.lang.String" resultMap="ResultElementResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_ELEM_RESULT 
		 where TA_JC_RULE_ELEM_RESULT.rlt_id = #{rltId,jdbcType=VARCHAR}
</select>

	<!-- ElementID:selectByPage,Generated=true -->
	<select id="selectByPage" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.ResultElement" resultMap="ResultElementResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_ELEM_RESULT 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

	<!-- ElementID:updateInstanceUseTime,Generated=false -->
	<update id="updateInstanceUseTime" parameterType="map">
		update
		ta_sp_instance set time_use =#{userTime} where
		instance_id=#{instanceId}
	</update>

	<update id="batchUpdateInstanceUseTime" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE ta_sp_instance SET 
			time_use = #{item.timeUse},
			tbcx_times = #{item.tbcxTimes}
			WHERE instance_id = #{item.instanceId}
		</foreach>
	</update>

	<!-- ElementID:insertProcessTime,Generated=false -->
	<insert id="insertProcessTime" parameterType="java.util.Map">
		insert into TA_JC_RULE_ELEM_RESULT
		(rlt_id,elem_id,business_id,is_timesupervise,rlt_value,rlt_memo,area_code,
		business_type,batch_id,tbcx_times)
		select sys_guid(),
		#{elemId,jdbcType=VARCHAR} as elemId,
		i.instance_id,
		'Y',
		(i.time_use - ceil(nvl(xm.approve_limit, 0))) as rlst,
		'办理时限超过法定时限，超过' ||
		to_char((i.time_use - ceil(nvl(xm.approve_limit, 0)))) || '天。',
		'',
		'1',
		#{batchId,jdbcType=VARCHAR},
		i.tbcx_times 
		from
		ta_sp_instance i
		inner join  ta_sp_services_guide xm on
		i.approve_id = xm.approve_id
		where i.project_state != '9'
		<!-- and xm.approve_limit &lt;= i.time_use -->
		and nvl(xm.approve_limit, 0) &gt; 0
		and i.instance_id in
		<foreach collection="list" item="instanceId" index="index" open="(" separator="," close=")">
			#{instanceId,jdbcType=VARCHAR}
		</foreach>
	</insert>

	<!-- ElementID:insertPromisesTime,Generated=false -->
	<insert id="insertPromisesTime" parameterType="java.util.Map">
		insert into TA_JC_RULE_ELEM_RESULT
		(rlt_id,elem_id,business_id,is_timesupervise,rlt_value,rlt_memo,area_code,
		business_type,batch_id,tbcx_times)
		select sys_guid(),
		#{elemId,jdbcType=VARCHAR},
		i.instance_id,
		'Y',
		(i.time_use - ceil(nvl(p.commitment_limit, 0))) as rlst,
		'办理时限超过承诺时限，超过' ||
		to_char((i.time_use - ceil(nvl(p.commitment_limit, 0)))) || '天。',
		'',
		'1',
		#{batchId,jdbcType=VARCHAR},
		i.tbcx_times 
		from
		ta_sp_instance i
		inner join  ta_sp_services_guide p
		on
		i.approve_id = p.approve_id
		where i.project_state != '9'
		<!-- and i.time_use - nvl(p.commitment_limit, 0) &gt;= -2 -->
		and nvl(p.commitment_limit, 0) &gt; 0
		and i.instance_id in
		<foreach collection="list" item="instanceId" index="index" open="(" separator="," close=")">
			#{instanceId,jdbcType=VARCHAR}
		</foreach>
	</insert>



	<!-- ElementID:insertInternetRoomTime,Generated=false -->
	<insert id="insertInternetRoomTime" parameterType="java.lang.String">
		insert into
		TA_JC_RULE_ELEM_RESULT
		(rlt_id,elem_id,business_id,is_timesupervise,rlt_value,rlt_memo,area_code)
		select sys_guid(),
		#{elemId} as elemId,
		i.instance_id,
		'Y',
		(i.time_use)
		as rlst,
		'网厅受理实际用时' || to_char((i.time_use)) || '天。',
		''
		from
		ta_sp_instance i
		inner join  ta_sp_services_guide xm on
		i.approve_id = xm.approve_id
		where i.project_state = '9' and i.time_use
		is not null
		and i.instance_id=#{instanceId,jdbcType=VARCHAR}
	</insert>



	<!-- insertConsultInfoTime,Generated=false -->
	<insert id="insertConsultInfoTime" parameterType="list">
		insert into TA_JC_RULE_ELEM_RESULT
		(rlt_id,elem_id,business_id,rlt_value,rlt_memo,is_timesupervise,area_code,
		business_type,batch_id)
		<foreach collection="list" item="entity" index="index" separator="union all">
			select
			sys_guid(),
			#{entity.elemId,jdbcType = VARCHAR},
			#{entity.businessId,jdbcType = VARCHAR},
			#{entity.rltValue,jdbcType = VARCHAR},
			#{entity.rltMemo,jdbcType = VARCHAR},
			#{entity.isTimesupervise,jdbcType = VARCHAR},
			#{entity.areaCode,jdbcType = VARCHAR},
			#{entity.businessType,jdbcType = VARCHAR},
			#{entity.batchId,jdbcType = VARCHAR}
			from dual
		</foreach>
	</insert>


	<!-- insertConsultTime,Generated=false -->
	<insert id="insertConsultTime" parameterType="list">
		insert into TA_JC_CONSULT_ELEM_RESULT
		(rlt_id,elem_id,business_id,rlt_value,rlt_memo,is_timesupervise,area_code,
		business_type,batch_id)
		<foreach collection="list" item="entity" index="index" separator="union all">
			select
			sys_guid(),
			#{entity.elemId,jdbcType = VARCHAR},
			#{entity.businessId,jdbcType = VARCHAR},
			#{entity.rltValue,jdbcType = VARCHAR},
			#{entity.rltMemo,jdbcType = VARCHAR},
			#{entity.isTimesupervise,jdbcType = VARCHAR},
			#{entity.areaCode,jdbcType = VARCHAR},
			#{entity.businessType,jdbcType = VARCHAR},
			#{entity.batchId,jdbcType = VARCHAR}
			from dual
		</foreach>
	</insert>

	<!-- <insert id="insertComplainTime" parameterType="java.lang.String"> INSERT 
		INTO TA_JC_RULE_ELEM_RESULT (RLT_ID, ELEM_ID, BUSINESS_ID, RLT_VALUE, RLT_MEMO, 
		IS_TIMESUPERVISE, AREA_CODE) SELECT sys_guid(), #{elementId} AS ELEM_ID, 
		BUSINESS_ID, RLT_VALUE, '办理时限超过承诺时限，超过'||RLT_VALUE||'天。'AS RLT_MEMO, 'Y' 
		AS IS_TIMESUPERVISE, '' AS AREA_CODE FROM ( SELECT TA_JC_COMPLAIN_BASEINFO.COMPLAIN_ID 
		AS BUSINESS_ID, TRUNC(NVL(TA_JC_COMPLAIN_BASEINFO.REPLY_TIME,SYSDATE) - TA_JC_COMPLAIN_BASEINFO.EXPIRE_DATE)AS 
		RLT_VALUE FROM TA_JC_COMPLAIN_BASEINFO WHERE STATE &lt;&gt; '不予受理' AND STATE 
		&lt;&gt; '待受理' ) </insert> -->

	<update id="batchUpdateInstanceCompletedTime" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			UPDATE ta_sp_instance SET completed_time =
			#{item.completedTime}
			WHERE instance_id = #{item.instanceId}
		</foreach>
	</update>
</mapper>