<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBeanMapper">

	<!-- ElementID:column_sql,Generated=false -->
	<sql id="column_sql">
		  TA_JC_RULE_BASEINFO.rule_id ,
		  TA_JC_RULE_BASEINFO.rule_name ,
		  TA_JC_RULE_BASEINFO.rule_memo ,
		  TA_JC_RULE_BASEINFO.rule_version ,
		  TA_JC_RULE_BASEINFO.is_valid ,
		  TA_JC_RULE_BASEINFO.is_auto_run ,
		  TA_JC_RULE_BASEINFO.run_priority ,
		  TA_JC_RULE_BASEINFO.has_runed ,
		  TA_JC_RULE_BASEINFO.rule_type ,
		  TA_JC_RULE_BASEINFO.area_code ,
		  TA_JC_RULE_BASEINFO.is_public ,
		  TA_JC_RULE_BASEINFO.issendmsg 
</sql>

	<!-- ElementID:whereClause_sql,Generated=false -->
	<sql id="whereClause_sql">
	    <if test="ruleId != null">and TA_JC_RULE_BASEINFO.rule_id = #{ruleId}</if>
	    <if test="ruleName != null">and TA_JC_RULE_BASEINFO.rule_name = #{ruleName}</if>
	    <if test="ruleMemo != null">and TA_JC_RULE_BASEINFO.rule_memo = #{ruleMemo}</if>
	    <if test="ruleVersion != null">and TA_JC_RULE_BASEINFO.rule_version = #{ruleVersion}</if>
	    <if test="isValid != null">and TA_JC_RULE_BASEINFO.is_valid = #{isValid}</if>
	    <if test="isAutoRun != null">and TA_JC_RULE_BASEINFO.is_auto_run = #{isAutoRun}</if>
	    <if test="runPriority != null">and TA_JC_RULE_BASEINFO.run_priority = #{runPriority}</if>
	    <if test="hasRuned != null">and TA_JC_RULE_BASEINFO.has_runed = #{hasRuned}</if>
	    <if test="ruleType != null">and TA_JC_RULE_BASEINFO.rule_type = #{ruleType}</if>
	    <if test="areaCode != null">and TA_JC_RULE_BASEINFO.area_code = #{areaCode}</if>
	    <if test="isPublic != null">and TA_JC_RULE_BASEINFO.is_public = #{isPublic}</if>
	    <if test="issendmsg != null">and TA_JC_RULE_BASEINFO.issendmsg = #{issendmsg}</if>
</sql>


	<!-- ElementID:RuleBeanResult,Generated=false -->
	<resultMap id="RuleBeanResult" type="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean">
	<id property="ruleId" column="rule_id"/>
	<result property="ruleName" column="rule_name"/>
	<result property="ruleMemo" column="rule_memo"/>
	<result property="ruleVersion" column="rule_version"/>
	<result property="isValid" column="is_valid"/>
	<result property="isAutoRun" column="is_auto_run"/>
	<result property="runPriority" column="run_priority"/>
	<result property="hasRuned" column="has_runed"/>
	<result property="ruleType" column="rule_type"/>
	<result property="areaCode" column="area_code"/>
	<result property="isPublic" column="is_public"/>
	<result property="issendmsg" column="issendmsg"/>
</resultMap>



	<!-- ElementName:cache,Generated=false -->
	<cache type="C2_Default_Dao_Cache"/>

	<!-- ElementID:insert,Generated=false -->
	<insert id="insert" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean">
	insert into TA_JC_RULE_BASEINFO(
	         <if test="ruleId != null">rule_id</if>
	         <if test="ruleName != null">,rule_name</if>
	         <if test="ruleMemo != null">,rule_memo</if>
	         <if test="ruleVersion != null">,rule_version</if>
	         <if test="isValid != null">,is_valid</if>
	         <if test="isAutoRun != null">,is_auto_run</if>
	         <if test="runPriority != null">,run_priority</if>
	         <if test="hasRuned != null">,has_runed</if>
	         <if test="ruleType != null">,rule_type</if>
	         <if test="areaCode != null">,area_code</if>
	         <if test="isPublic != null">,is_public</if>
	         <if test="issendmsg != null">,issendmsg</if>
	 	 	 )
	 values (
	         <if test="ruleId != null">#{ruleId,jdbcType=VARCHAR}</if>
	         <if test="ruleName != null">,#{ruleName,jdbcType=VARCHAR}</if>
	         <if test="ruleMemo != null">,#{ruleMemo,jdbcType=VARCHAR}</if>
	         <if test="ruleVersion != null">,#{ruleVersion,jdbcType=VARCHAR}</if>
	         <if test="isValid != null">,#{isValid,jdbcType=VARCHAR}</if>
	         <if test="isAutoRun != null">,#{isAutoRun,jdbcType=VARCHAR}</if>
	         <if test="runPriority != null">,#{runPriority,jdbcType=VARCHAR}</if>
	         <if test="hasRuned != null">,#{hasRuned,jdbcType=VARCHAR}</if>
	         <if test="ruleType != null">,#{ruleType,jdbcType=VARCHAR}</if>
	         <if test="areaCode != null">,#{areaCode,jdbcType=VARCHAR}</if>
	         <if test="isPublic != null">,#{isPublic,jdbcType=VARCHAR}</if>
	         <if test="issendmsg != null">,#{issendmsg,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

	<!-- ElementID:count,Generated=false -->
	<select id="count" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean" resultType="int">
	select count(*) from TA_JC_RULE_BASEINFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

	<!-- ElementID:update,Generated=false -->
	<update id="update" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean">
	update TA_JC_RULE_BASEINFO
<set>
	<if test="ruleName != null">rule_name=#{ruleName,jdbcType=VARCHAR},</if>
	<if test="ruleMemo != null">rule_memo=#{ruleMemo,jdbcType=VARCHAR},</if>
	<if test="ruleVersion != null">rule_version=#{ruleVersion,jdbcType=VARCHAR},</if>
	<if test="isValid != null">is_valid=#{isValid,jdbcType=VARCHAR},</if>
	<if test="isAutoRun != null">is_auto_run=#{isAutoRun,jdbcType=VARCHAR},</if>
	<if test="runPriority != null">run_priority=#{runPriority,jdbcType=VARCHAR},</if>
	<if test="hasRuned != null">has_runed=#{hasRuned,jdbcType=VARCHAR},</if>
	<if test="ruleType != null">rule_type=#{ruleType,jdbcType=VARCHAR},</if>
	<if test="areaCode != null">area_code=#{areaCode,jdbcType=VARCHAR},</if>
	<if test="isPublic != null">is_public=#{isPublic,jdbcType=VARCHAR},</if>
	<if test="issendmsg != null">issendmsg=#{issendmsg,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="ruleId != null">and rule_id = #{ruleId}</when>
        <otherwise>and rule_id = </otherwise>
    </choose>
</where>
</update>

	<!-- ElementID:updateNull,Generated=false -->
	<update id="updateNull" parameterType="map">
	update TA_JC_RULE_BASEINFO
	<set>
		<trim suffixOverrides=",">
		    <if test="ruleName==null">rule_name = null,</if>
		    <if test="ruleMemo==null">rule_memo = null,</if>
		    <if test="ruleVersion==null">rule_version = null,</if>
		    <if test="isValid==null">is_valid = null,</if>
		    <if test="isAutoRun==null">is_auto_run = null,</if>
		    <if test="runPriority==null">run_priority = null,</if>
		    <if test="hasRuned==null">has_runed = null,</if>
		    <if test="ruleType==null">rule_type = null,</if>
		    <if test="areaCode==null">area_code = null,</if>
		    <if test="isPublic==null">is_public = null,</if>
		    <if test="issendmsg==null">issendmsg = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="ruleId != null">and rule_id = #{ruleId}</when>
			<otherwise>and rule_id = </otherwise>
		</choose>
	</where>
</update>

	<!-- ElementID:delete,Generated=false -->
	<delete id="delete" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean">
    delete from TA_JC_RULE_BASEINFO where 1=1 and rule_id = #{ruleId}
</delete>

	<!-- ElementID:select,Generated=false -->
	<select id="select" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean" resultMap="RuleBeanResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_BASEINFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


	<!-- ElementID:insertBatch,Generated=false -->
	<insert id="insertBatch" parameterType="list">
	insert into TA_JC_RULE_BASEINFO (rule_id,rule_name,rule_memo,rule_version,is_valid,is_auto_run,run_priority,has_runed,rule_type,area_code,is_public,issendmsg) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.ruleId,jdbcType = VARCHAR},
				#{entity.ruleName,jdbcType = VARCHAR},
				#{entity.ruleMemo,jdbcType = VARCHAR},
				#{entity.ruleVersion,jdbcType = VARCHAR},
				#{entity.isValid,jdbcType = VARCHAR},
				#{entity.isAutoRun,jdbcType = VARCHAR},
				#{entity.runPriority,jdbcType = VARCHAR},
				#{entity.hasRuned,jdbcType = VARCHAR},
				#{entity.ruleType,jdbcType = VARCHAR},
				#{entity.areaCode,jdbcType = VARCHAR},
				#{entity.isPublic,jdbcType = VARCHAR},
				#{entity.issendmsg,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

	<!-- ElementID:deleteBatch,Generated=false -->
	<delete id="deleteBatch" parameterType="List">
	delete from TA_JC_RULE_BASEINFO where rule_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.ruleId}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

	<!-- ElementID:updateBatch,Generated=false -->
	<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update TA_JC_RULE_BASEINFO
	<set>
	<if test="entity.ruleName != null">rule_name= #{entity.ruleName,jdbcType=VARCHAR},</if>
	<if test="entity.ruleMemo != null">rule_memo= #{entity.ruleMemo,jdbcType=VARCHAR},</if>
	<if test="entity.ruleVersion != null">rule_version= #{entity.ruleVersion,jdbcType=VARCHAR},</if>
	<if test="entity.isValid != null">is_valid= #{entity.isValid,jdbcType=VARCHAR},</if>
	<if test="entity.isAutoRun != null">is_auto_run= #{entity.isAutoRun,jdbcType=VARCHAR},</if>
	<if test="entity.runPriority != null">run_priority= #{entity.runPriority,jdbcType=VARCHAR},</if>
	<if test="entity.hasRuned != null">has_runed= #{entity.hasRuned,jdbcType=VARCHAR},</if>
	<if test="entity.ruleType != null">rule_type= #{entity.ruleType,jdbcType=VARCHAR},</if>
	<if test="entity.areaCode != null">area_code= #{entity.areaCode,jdbcType=VARCHAR},</if>
	<if test="entity.isPublic != null">is_public= #{entity.isPublic,jdbcType=VARCHAR},</if>
	<if test="entity.issendmsg != null">issendmsg= #{entity.issendmsg,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.ruleId != null">and rule_id = #{entity.ruleId}</when>
				<otherwise>and rule_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

	<!-- ElementID:selectAll,Generated=false -->
	<select id="selectAll" resultMap="RuleBeanResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_BASEINFO 
</select>

	<!-- ElementID:selectMany,Generated=false -->
	<select id="selectMany" parameterType="list" resultMap="RuleBeanResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_RULE_BASEINFO 
	where TA_JC_RULE_BASEINFO.rule_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		TA_JC_RULE_BASEINFO.rule_id
	    from TA_JC_RULE_BASEINFO 
		 <where>
	        <if test="entity.ruleId != null">and TA_JC_RULE_BASEINFO.rule_id = #{entity.ruleId}</if>
	        <if test="entity.ruleName != null">and TA_JC_RULE_BASEINFO.rule_name = #{entity.ruleName}</if>
	        <if test="entity.ruleMemo != null">and TA_JC_RULE_BASEINFO.rule_memo = #{entity.ruleMemo}</if>
	        <if test="entity.ruleVersion != null">and TA_JC_RULE_BASEINFO.rule_version = #{entity.ruleVersion}</if>
	        <if test="entity.isValid != null">and TA_JC_RULE_BASEINFO.is_valid = #{entity.isValid}</if>
	        <if test="entity.isAutoRun != null">and TA_JC_RULE_BASEINFO.is_auto_run = #{entity.isAutoRun}</if>
	        <if test="entity.runPriority != null">and TA_JC_RULE_BASEINFO.run_priority = #{entity.runPriority}</if>
	        <if test="entity.hasRuned != null">and TA_JC_RULE_BASEINFO.has_runed = #{entity.hasRuned}</if>
	        <if test="entity.ruleType != null">and TA_JC_RULE_BASEINFO.rule_type = #{entity.ruleType}</if>
	        <if test="entity.areaCode != null">and TA_JC_RULE_BASEINFO.area_code = #{entity.areaCode}</if>
	        <if test="entity.isPublic != null">and TA_JC_RULE_BASEINFO.is_public = #{entity.isPublic}</if>
	        <if test="entity.issendmsg != null">and TA_JC_RULE_BASEINFO.issendmsg = #{entity.issendmsg}</if>
		</where>
</foreach>
)
</select>

	<!-- ElementID:selectUnion,Generated=false -->
	<select id="selectUnion" parameterType="list" resultMap="RuleBeanResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_RULE_BASEINFO 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 rule_id
		FROM TA_JC_RULE_BASEINFO 
			<where>
	        <if test="entity.ruleId != null">and TA_JC_RULE_BASEINFO.rule_id = #{entity.ruleId}</if>
	        <if test="entity.ruleName != null">and TA_JC_RULE_BASEINFO.rule_name = #{entity.ruleName}</if>
	        <if test="entity.ruleMemo != null">and TA_JC_RULE_BASEINFO.rule_memo = #{entity.ruleMemo}</if>
	        <if test="entity.ruleVersion != null">and TA_JC_RULE_BASEINFO.rule_version = #{entity.ruleVersion}</if>
	        <if test="entity.isValid != null">and TA_JC_RULE_BASEINFO.is_valid = #{entity.isValid}</if>
	        <if test="entity.isAutoRun != null">and TA_JC_RULE_BASEINFO.is_auto_run = #{entity.isAutoRun}</if>
	        <if test="entity.runPriority != null">and TA_JC_RULE_BASEINFO.run_priority = #{entity.runPriority}</if>
	        <if test="entity.hasRuned != null">and TA_JC_RULE_BASEINFO.has_runed = #{entity.hasRuned}</if>
	        <if test="entity.ruleType != null">and TA_JC_RULE_BASEINFO.rule_type = #{entity.ruleType}</if>
	        <if test="entity.areaCode != null">and TA_JC_RULE_BASEINFO.area_code = #{entity.areaCode}</if>
	        <if test="entity.isPublic != null">and TA_JC_RULE_BASEINFO.is_public = #{entity.isPublic}</if>
	        <if test="entity.issendmsg != null">and TA_JC_RULE_BASEINFO.issendmsg = #{entity.issendmsg}</if>
			</where>
</foreach>
	c2_temp_table ON TA_JC_RULE_BASEINFO.rule_id = c2_temp_table.rule_id
</select>

	<!-- ElementID:selectByID,Generated=false -->
	<select id="selectByID" parameterType="java.lang.String" resultMap="RuleBeanResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_BASEINFO 
		 where TA_JC_RULE_BASEINFO.rule_id = #{ruleId,jdbcType=VARCHAR}
</select>

	<!-- ElementID:selectByPage,Generated=false -->
	<select id="selectByPage" parameterType="com.chinacreator.dzjc_ruleEngine.ruleEngine.entity.RuleBean" resultMap="RuleBeanResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_RULE_BASEINFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

</mapper>