<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfoMapper">	

<!-- ElementID:column_sql,Generated=false -->
<sql id="column_sql">
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.bussiness_type ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.business_id ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_no ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_name ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_no ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_name ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.state ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_id ,
		  VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_name
</sql>

<!-- ElementID:whereClause_sql,Generated=false -->
<sql id="whereClause_sql">
	    <if test="bussinessType != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.bussiness_type = #{bussinessType}</if>
	    <if test="superviseInfoId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id = #{superviseInfoId}</if>
	    <if test="superviseTypeNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_no = #{superviseTypeNo}</if>
	    <if test="superviseTypeName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_name = #{superviseTypeName}</if>
	    <if test="superviseResultNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_no = #{superviseResultNo}</if>
	    <if test="superviseResultName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_name = #{superviseResultName}</if>
	    <!-- <if test="superviseTime != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time = #{superviseTime}</if> -->
	    <if test="state != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.state = #{state}</if>
	    <!-- <if test="orgId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_id = #{orgId}</if> -->
	    <if test="orgName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_name = #{orgName}</if>
	    <if test="jcBeginDate != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time &gt;= #{jcBeginDate}</if>
	    <if test="jcEndDate != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time &lt;= #{jcEndDate}</if> 
</sql>


<!-- ElementID:BussinessAllDeleteInfoResult,Generated=false -->
<resultMap id="BussinessAllDeleteInfoResult" type="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo">
	<id property="superviseInfoId" column="supervise_info_id"/>
	<result property="bussinessType" column="bussiness_type"/>
	<result property="superviseTypeNo" column="supervise_type_no"/>
	<result property="superviseTypeName" column="supervise_type_name"/>
	<result property="superviseResultNo" column="supervise_result_no"/>
	<result property="superviseResultName" column="supervise_result_name"/>
	<result property="superviseTime" column="supervise_time"/>
	<result property="state" column="state"/>
	<result property="orgId" column="org_id"/>
	<result property="orgName" column="org_name"/>
</resultMap>


<!-- ElementID:insert,Generated=false -->
<insert id="insert" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo">
	insert into VA_TA_JC_ALLDELETEBUSSINESS_INFO(
	         <if test="bussinessType != null">bussiness_type</if>
	         <if test="superviseInfoId != null">,supervise_info_id</if>
	         <if test="superviseTypeNo != null">,supervise_type_no</if>
	         <if test="superviseTypeName != null">,supervise_type_name</if>
	         <if test="superviseResultNo != null">,supervise_result_no</if>
	         <if test="superviseResultName != null">,supervise_result_name</if>
	         <if test="superviseTime != null">,supervise_time</if>
	         <if test="state != null">,state</if>
	         <if test="orgId != null">,org_id</if>
	         <if test="orgName != null">,org_name</if>
	 	 	 )
	 values (
	         <if test="bussinessType != null">#{bussinessType,jdbcType=VARCHAR}</if>
	         <if test="superviseInfoId != null">,#{superviseInfoId,jdbcType=VARCHAR}</if>
	         <if test="superviseTypeNo != null">,#{superviseTypeNo,jdbcType=VARCHAR}</if>
	         <if test="superviseTypeName != null">,#{superviseTypeName,jdbcType=VARCHAR}</if>
	         <if test="superviseResultNo != null">,#{superviseResultNo,jdbcType=VARCHAR}</if>
	         <if test="superviseResultName != null">,#{superviseResultName,jdbcType=VARCHAR}</if>
	         <if test="superviseTime != null">,#{superviseTime,jdbcType=DATE}</if>
	         <if test="state != null">,#{state,jdbcType=VARCHAR}</if>
	         <if test="orgId != null">,#{orgId,jdbcType=VARCHAR}</if>
	         <if test="orgName != null">,#{orgName,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo" resultType="int">
	select count(*) from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=false -->
<update id="update" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo">
	update VA_TA_JC_ALLDELETEBUSSINESS_INFO
<set>
	<if test="bussinessType != null">bussiness_type=#{bussinessType,jdbcType=VARCHAR},</if>
	<if test="superviseTypeNo != null">supervise_type_no=#{superviseTypeNo,jdbcType=VARCHAR},</if>
	<if test="superviseTypeName != null">supervise_type_name=#{superviseTypeName,jdbcType=VARCHAR},</if>
	<if test="superviseResultNo != null">supervise_result_no=#{superviseResultNo,jdbcType=VARCHAR},</if>
	<if test="superviseResultName != null">supervise_result_name=#{superviseResultName,jdbcType=VARCHAR},</if>
	<if test="superviseTime != null">supervise_time=#{superviseTime,jdbcType=DATE},</if>
	<if test="state != null">state=#{state,jdbcType=VARCHAR},</if>
	<if test="orgId != null">org_id=#{orgId,jdbcType=VARCHAR},</if>
	<if test="orgName != null">org_name=#{orgName,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="superviseInfoId != null">and supervise_info_id = #{superviseInfoId}</when>
        <otherwise>and supervise_info_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=false -->
<update id="updateNull" parameterType="map">
	update VA_TA_JC_ALLDELETEBUSSINESS_INFO
	<set>
		<trim suffixOverrides=",">
		    <if test="bussinessType==null">bussiness_type = null,</if>
		    <if test="superviseTypeNo==null">supervise_type_no = null,</if>
		    <if test="superviseTypeName==null">supervise_type_name = null,</if>
		    <if test="superviseResultNo==null">supervise_result_no = null,</if>
		    <if test="superviseResultName==null">supervise_result_name = null,</if>
		    <if test="superviseTime==null">supervise_time = null,</if>
		    <if test="state==null">state = null,</if>
		    <if test="orgId==null">org_id = null,</if>
		    <if test="orgName==null">org_name = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="superviseInfoId != null">and supervise_info_id = #{superviseInfoId}</when>
			<otherwise>and supervise_info_id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo">
    delete from VA_TA_JC_ALLDELETEBUSSINESS_INFO where 1=1 and supervise_info_id = #{superviseInfoId}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo" resultMap="BussinessAllDeleteInfoResult">
	select 
		<include refid="column_sql"/>
	    from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=false -->
<insert id="insertBatch" parameterType="list">
	insert into VA_TA_JC_ALLDELETEBUSSINESS_INFO (bussiness_type,supervise_info_id,supervise_type_no,supervise_type_name,supervise_result_no,supervise_result_name,supervise_time,state,org_id,org_name,jcBeginDate,jcEndDate) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.bussinessType,jdbcType = VARCHAR},
				#{entity.superviseInfoId,jdbcType = VARCHAR},
				#{entity.superviseTypeNo,jdbcType = VARCHAR},
				#{entity.superviseTypeName,jdbcType = VARCHAR},
				#{entity.superviseResultNo,jdbcType = VARCHAR},
				#{entity.superviseResultName,jdbcType = VARCHAR},
				#{entity.superviseTime,jdbcType = DATE},
				#{entity.state,jdbcType = VARCHAR},
				#{entity.orgId,jdbcType = VARCHAR},
				#{entity.orgName,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from VA_TA_JC_ALLDELETEBUSSINESS_INFO where supervise_info_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.superviseInfoId}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=false -->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update VA_TA_JC_ALLDELETEBUSSINESS_INFO
	<set>
	<if test="entity.bussinessType != null">bussiness_type= #{entity.bussinessType,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTypeNo != null">supervise_type_no= #{entity.superviseTypeNo,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTypeName != null">supervise_type_name= #{entity.superviseTypeName,jdbcType=VARCHAR},</if>
	<if test="entity.superviseResultNo != null">supervise_result_no= #{entity.superviseResultNo,jdbcType=VARCHAR},</if>
	<if test="entity.superviseResultName != null">supervise_result_name= #{entity.superviseResultName,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTime != null">supervise_time= #{entity.superviseTime,jdbcType=DATE},</if>
	<if test="entity.state != null">state= #{entity.state,jdbcType=VARCHAR},</if>
	<if test="entity.orgId != null">org_id= #{entity.orgId,jdbcType=VARCHAR},</if>
	<if test="entity.orgName != null">org_name= #{entity.orgName,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.superviseInfoId != null">and supervise_info_id = #{entity.superviseInfoId}</when>
				<otherwise>and supervise_info_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="BussinessAllDeleteInfoResult">
	select 
		<include refid="column_sql"/>
	    from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
</select>

<!-- ElementID:selectMany,Generated=false -->
<select id="selectMany" parameterType="list" resultMap="BussinessAllDeleteInfoResult">
select 
	<include refid="column_sql"/> 
	from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
	where VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id
	    from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
		 <where>
	        <if test="entity.bussinessType != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.bussiness_type = #{entity.bussinessType}</if>
	        <if test="entity.superviseInfoId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id = #{entity.superviseInfoId}</if>
	        <if test="entity.superviseTypeNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_no = #{entity.superviseTypeNo}</if>
	        <if test="entity.superviseTypeName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_name = #{entity.superviseTypeName}</if>
	        <if test="entity.superviseResultNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_no = #{entity.superviseResultNo}</if>
	        <if test="entity.superviseResultName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_name = #{entity.superviseResultName}</if>
	        <if test="entity.superviseTime != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time = #{entity.superviseTime}</if>
	        <if test="entity.state != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.state = #{entity.state}</if>
	        <if test="entity.orgId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_id = #{entity.orgId}</if>
	        <if test="entity.orgName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_name = #{entity.orgName}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectUnion,Generated=false -->
<select id="selectUnion" parameterType="list" resultMap="BussinessAllDeleteInfoResult">
select 
	<include refid="column_sql"/> 
	from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 supervise_info_id
		FROM VA_TA_JC_ALLDELETEBUSSINESS_INFO 
			<where>
	        <if test="entity.bussinessType != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.bussiness_type = #{entity.bussinessType}</if>
	        <if test="entity.superviseInfoId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id = #{entity.superviseInfoId}</if>
	        <if test="entity.superviseTypeNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_no = #{entity.superviseTypeNo}</if>
	        <if test="entity.superviseTypeName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_type_name = #{entity.superviseTypeName}</if>
	        <if test="entity.superviseResultNo != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_no = #{entity.superviseResultNo}</if>
	        <if test="entity.superviseResultName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_result_name = #{entity.superviseResultName}</if>
	        <if test="entity.superviseTime != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_time = #{entity.superviseTime}</if>
	        <if test="entity.state != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.state = #{entity.state}</if>
	        <if test="entity.orgId != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_id = #{entity.orgId}</if>
	        <if test="entity.orgName != null">and VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_name = #{entity.orgName}</if>
			</where>
</foreach>
	c2_temp_table ON VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id = c2_temp_table.supervise_info_id
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="BussinessAllDeleteInfoResult">
	select 
		<include refid="column_sql"/>
	    from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
		 where VA_TA_JC_ALLDELETEBUSSINESS_INFO.supervise_info_id = #{superviseInfoId,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=false -->
<select id="selectByPage" parameterType="com.chinacreator.dzjc_ruleEngine.BussinessAllDeleteInfo" resultMap="BussinessAllDeleteInfoResult">
	select 
		<include refid="column_sql"/>
	    from VA_TA_JC_ALLDELETEBUSSINESS_INFO 
	    where exists (
             select id from (
                <if test="orgId != null">
                   SELECT v.id,v.code FROM V_ORG V where V.CODE LIKE CONCAT(#{orgId},'%') OR V.ID = #{orgId,jdbcType=VARCHAR}
                </if>
                <if test="temporgid != null">
                   select v1.id,v1.code from V_ORG V1 START WITH V1.ID=#{temporgid} CONNECT BY V1.PID = PRIOR V1.ID
                </if>
             ) temp where VA_TA_JC_ALLDELETEBUSSINESS_INFO.org_id=temp.id
          )
			<include refid="whereClause_sql"/>
</select>

</mapper>