<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_ruleEngine.SuperviserInfoMapper"> 

<!-- ElementID:column_sql,Generated=false -->
<sql id="column_sql">
      TA_JC_SUPERVISE_INFO.supervise_info_id ,
      TA_JC_SUPERVISE_INFO.business_id ,
      TA_JC_SUPERVISE_INFO.receive_org_name ,
      TA_JC_SUPERVISE_INFO.supervise_type_no ,
      TA_JC_SUPERVISE_INFO.supervise_result_no ,
      TA_JC_SUPERVISE_INFO.supervise_time ,
      TA_JC_SUPERVISE_INFO.supervise_descript ,
      TA_JC_SUPERVISE_INFO.supervise_gist ,
      TA_JC_SUPERVISE_INFO.warning_content ,
      TA_JC_SUPERVISE_INFO.duty_tache_code ,
      TA_JC_SUPERVISE_INFO.rule_id ,
      TA_JC_SUPERVISE_INFO.feedback_endtime ,
      (select t.dictdata_value from TD_SM_DICTDATA t where t.DICTTYPE_ID=(select d.DICTTYPE_ID from TD_SM_DICTTYPE d where d.DICTTYPE_NAME='发牌状态') and t.dictdata_name=TA_JC_SUPERVISE_INFO.state) as state,
      TA_JC_SUPERVISE_INFO.last_updatetime ,
      TA_JC_SUPERVISE_INFO.cc_form_instanceid ,
      TA_JC_SUPERVISE_INFO.remarka ,
      TA_JC_SUPERVISE_INFO.remarkb ,
      TA_JC_SUPERVISE_INFO.rule_version ,
      TA_JC_SUPERVISE_INFO.org_id ,
      TA_JC_SUPERVISE_INFO.tscx_code ,
      TA_JC_SUPERVISE_INFO.pici ,
      TA_JC_DIC_SUPERVISE_RESULT.supervise_result_name ,
      TA_JC_DIC_SUPERVISE_TYPE.supervise_type_name,
      <!-- 新增撤销原因 -->
      TA_JC_SUPERVISE_INFO.revocation_reason,
      <!-- 日志字段-->
      TA_JC_SUPERVISE_INFO.start_time,
      TA_JC_SUPERVISE_INFO.end_time,
      TA_JC_SUPERVISE_INFO.status,
      TA_JC_SUPERVISE_INFO.promise_limit,
      TA_JC_SUPERVISE_INFO.process_limit,
      TA_JC_SUPERVISE_INFO.expire_date,
      TA_JC_SUPERVISE_INFO.out_days,
      TA_JC_SUPERVISE_INFO.tbcx_times
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="superviseInfoId != null">and TA_JC_SUPERVISE_INFO.supervise_info_id = #{superviseInfoId}</if>
	    <if test="businessId != null">and TA_JC_SUPERVISE_INFO.business_id = #{businessId}</if>
	    <if test="receiveOrgName != null">and TA_JC_SUPERVISE_INFO.receive_org_name = #{receiveOrgName}</if>
	    <if test="superviseTypeNo != null">and TA_JC_SUPERVISE_INFO.supervise_type_no = #{superviseTypeNo}</if>
	    <if test="superviseResultNo != null">and TA_JC_SUPERVISE_INFO.supervise_result_no = #{superviseResultNo}</if>
	    <if test="superviseTime != null">and TA_JC_SUPERVISE_INFO.supervise_time = #{superviseTime}</if>
	    <if test="superviseDescript != null">and TA_JC_SUPERVISE_INFO.supervise_descript = #{superviseDescript}</if>
	    <if test="superviseGist != null">and TA_JC_SUPERVISE_INFO.supervise_gist = #{superviseGist}</if>
	    <if test="warningContent != null">and TA_JC_SUPERVISE_INFO.warning_content = #{warningContent}</if>
	    <if test="dutyTacheCode != null">and TA_JC_SUPERVISE_INFO.duty_tache_code = #{dutyTacheCode}</if>
	    <if test="ruleId != null">and TA_JC_SUPERVISE_INFO.rule_id = #{ruleId}</if>
	    <if test="feedbackEndtime != null">and TA_JC_SUPERVISE_INFO.feedback_endtime = #{feedbackEndtime}</if>
	    <if test="state != null">and TA_JC_SUPERVISE_INFO.state = #{state}</if>
	    <if test="lastUpdatetime != null">and TA_JC_SUPERVISE_INFO.last_updatetime = #{lastUpdatetime}</if>
	    <if test="ccFormInstanceid != null">and TA_JC_SUPERVISE_INFO.cc_form_instanceid = #{ccFormInstanceid}</if>
	    <if test="remarka != null">and TA_JC_SUPERVISE_INFO.remarka = #{remarka}</if>
	    <if test="remarkb != null">and TA_JC_SUPERVISE_INFO.remarkb = #{remarkb}</if>
	    <if test="ruleVersion != null">and TA_JC_SUPERVISE_INFO.rule_version = #{ruleVersion}</if>
	    <if test="orgId != null">and TA_JC_SUPERVISE_INFO.org_id = #{orgId}</if>
	    <if test="tscxCode != null">and TA_JC_SUPERVISE_INFO.tscx_code = #{tscxCode}</if>
	    <if test="pici != null">and TA_JC_SUPERVISE_INFO.pici = #{pici}</if>
	    <if test="superviseResultName != null">and TA_JC_SUPERVISE_INFO.supervise_result_name = #{superviseResultName}</if>
	    <if test="superviseTypeName != null">and TA_JC_SUPERVISE_INFO.supervise_type_name = #{superviseTypeName}</if>
	    <if test="revocationReason != null">and TA_JC_SUPERVISE_INFO.revocation_reason = #{revocationReason}</if>
	    <if test="startTime != null">and TA_JC_SUPERVISE_INFO.start_time = #{startTime}</if>
	    <if test="endTime != null">and TA_JC_SUPERVISE_INFO.end_time = #{endTime}</if>
	    <if test="status != null">and TA_JC_SUPERVISE_INFO.status = #{status}</if>
	    <if test="promiseLimit != null">and TA_JC_SUPERVISE_INFO.promise_limit = #{promiseLimit}</if>
	    <if test="processLimit != null">and TA_JC_SUPERVISE_INFO.process_limit = #{processLimit}</if>
	    <if test="expireDate != null">and TA_JC_SUPERVISE_INFO.expire_date = #{expireDate}</if>
	    <if test="outDays != null">and TA_JC_SUPERVISE_INFO.out_days = #{outDays}</if>
	    <if test="checkTime != null">and TA_JC_SUPERVISE_INFO.check_time = #{checkTime}</if>
	    <if test="checkStatus != null">and TA_JC_SUPERVISE_INFO.check_status = #{checkStatus}</if>
	    <if test="checkEndTime != null">and TA_JC_SUPERVISE_INFO.check_end_time = #{checkEndTime}</if>
	    <if test="checkStatusTemp != null">and TA_JC_SUPERVISE_INFO.check_status_temp = #{checkStatusTemp}</if>
	    <if test="batchId != null">and TA_JC_SUPERVISE_INFO.batch_id = #{batchId}</if>
	    <if test="tbcxTimes != null">and TA_JC_SUPERVISE_INFO.tbcx_times = #{tbcxTimes}</if>
	    <if test="approveId != null">and TA_JC_SUPERVISE_INFO.approve_id = #{approveId}</if>
	    <if test="streetOrgId != null">and TA_JC_SUPERVISE_INFO.street_org_id = #{streetOrgId}</if>
</sql>


<!-- ElementID:SuperviserInfoResult,Generated=true -->
<resultMap id="SuperviserInfoResult" type="com.chinacreator.dzjc_ruleEngine.SuperviserInfo">
	<id property="superviseInfoId" column="supervise_info_id"/>
	<result property="businessId" column="business_id"/>
	<result property="receiveOrgName" column="receive_org_name"/>
	<result property="superviseTypeNo" column="supervise_type_no"/>
	<result property="superviseResultNo" column="supervise_result_no"/>
	<result property="superviseTime" column="supervise_time"/>
	<result property="superviseDescript" column="supervise_descript"/>
	<result property="superviseGist" column="supervise_gist"/>
	<result property="warningContent" column="warning_content"/>
	<result property="dutyTacheCode" column="duty_tache_code"/>
	<result property="ruleId" column="rule_id"/>
	<result property="feedbackEndtime" column="feedback_endtime"/>
	<result property="state" column="state"/>
	<result property="lastUpdatetime" column="last_updatetime"/>
	<result property="ccFormInstanceid" column="cc_form_instanceid"/>
	<result property="remarka" column="remarka"/>
	<result property="remarkb" column="remarkb"/>
	<result property="ruleVersion" column="rule_version"/>
	<result property="orgId" column="org_id"/>
	<result property="tscxCode" column="tscx_code"/>
	<result property="pici" column="pici"/>
	<result property="superviseResultName" column="supervise_result_name"/>
	<result property="superviseTypeName" column="supervise_type_name"/>
	<result property="revocationReason" column="revocation_reason"/>
	<result property="startTime" column="start_time"/>
	<result property="endTime" column="end_time"/>
	<result property="status" column="status"/>
	<result property="promiseLimit" column="promise_limit"/>
	<result property="processLimit" column="process_limit"/>
	<result property="expireDate" column="expire_date"/>
	<result property="outDays" column="out_days"/>
	<result property="checkTime" column="check_time"/>
	<result property="checkStatus" column="check_status"/>
	<result property="checkEndTime" column="check_end_time"/>
	<result property="checkStatusTemp" column="check_status_temp"/>
	<result property="batchId" column="batch_id"/>
	<result property="tbcxTimes" column="tbcx_times"/>
	<result property="approveId" column="approve_id"/>
	<result property="streetOrgId" column="street_org_id"/>
</resultMap>



<!-- ElementID:insert,Generated=false -->
<insert id="insert" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo">
  insert into TA_JC_SUPERVISE_INFO(
           <if test="superviseInfoId != null">supervise_info_id</if>
           <if test="businessId != null">,business_id</if>
           <if test="receiveOrgName != null">,receive_org_name</if>
           <if test="superviseTypeNo != null">,supervise_type_no</if>
           <if test="superviseResultNo != null">,supervise_result_no</if>
           <if test="superviseTime != null">,supervise_time</if>
           <if test="superviseDescript != null">,supervise_descript</if>
           <if test="superviseGist != null">,supervise_gist</if>
           <if test="warningContent != null">,warning_content</if>
           <if test="dutyTacheCode != null">,duty_tache_code</if>
           <if test="ruleId != null">,rule_id</if>
           <if test="feedbackEndtime != null">,feedback_endtime</if>
           <if test="state != null">,state</if>
           <if test="lastUpdatetime != null">,last_updatetime</if>
           <if test="ccFormInstanceid != null">,cc_form_instanceid</if>
           <if test="remarka != null">,remarka</if>
           <if test="remarkb != null">,remarkb</if>
           <if test="ruleVersion != null">,rule_version</if>
           <if test="orgId != null">,org_id</if>
           <if test="tscxCode != null">,tscx_code</if>
           <if test="pici != null">,pici</if>
           <if test="superviseResultName != null">,supervise_result_name</if>
           <if test="superviseTypeName != null">,supervise_type_name</if>
           <!-- 新增撤销原因 -->
           <if test="revocationReason != null">,revocation_reason</if>
       )
   values (
           <if test="superviseInfoId != null">#{superviseInfoId,jdbcType=VARCHAR}</if>
           <if test="businessId != null">,#{businessId,jdbcType=VARCHAR}</if>
           <if test="receiveOrgName != null">,#{receiveOrgName,jdbcType=VARCHAR}</if>
           <if test="superviseTypeNo != null">,#{superviseTypeNo,jdbcType=VARCHAR}</if>
           <if test="superviseResultNo != null">,#{superviseResultNo,jdbcType=VARCHAR}</if>
           <if test="superviseTime != null">,to_date(#{superviseTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')</if>
           <if test="superviseDescript != null">,#{superviseDescript,jdbcType=VARCHAR}</if>
           <if test="superviseGist != null">,#{superviseGist,jdbcType=VARCHAR}</if>
           <if test="warningContent != null">,#{warningContent,jdbcType=VARCHAR}</if>
           <if test="dutyTacheCode != null">,#{dutyTacheCode,jdbcType=VARCHAR}</if>
           <if test="ruleId != null">,#{ruleId,jdbcType=VARCHAR}</if>
           <if test="feedbackEndtime != null">,to_date(#{feedbackEndtime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')</if>
           <if test="state != null">,#{state,jdbcType=VARCHAR}</if>
           <if test="lastUpdatetime != null">,#{lastUpdatetime,jdbcType=VARCHAR}</if>
           <if test="ccFormInstanceid != null">,#{ccFormInstanceid,jdbcType=VARCHAR}</if>
           <if test="remarka != null">,#{remarka,jdbcType=VARCHAR}</if>
           <if test="remarkb != null">,#{remarkb,jdbcType=VARCHAR}</if>
           <if test="ruleVersion != null">,#{ruleVersion,jdbcType=VARCHAR}</if>
           <if test="orgId != null">,#{orgId,jdbcType=VARCHAR}</if>
           <if test="tscxCode != null">,#{tscxCode,jdbcType=VARCHAR}</if>
           <if test="pici != null">,#{pici,jdbcType=VARCHAR}</if>
           <if test="superviseResultName != null">,#{superviseResultName,jdbcType=VARCHAR}</if>
           <if test="superviseTypeName != null">,#{superviseTypeName,jdbcType=VARCHAR}</if>
           <!-- 新增撤销原因 -->
           <if test="revocationReason != null">,#{revocation_reason,jdbcType=VARCHAR}</if>
       )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo" resultType="int">
	select count(*) from TA_JC_SUPERVISE_INFO 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo">
	update TA_JC_SUPERVISE_INFO
<set>
	<if test="businessId != null">business_id=#{businessId,jdbcType=VARCHAR},</if>
	<if test="receiveOrgName != null">receive_org_name=#{receiveOrgName,jdbcType=VARCHAR},</if>
	<if test="superviseTypeNo != null">supervise_type_no=#{superviseTypeNo,jdbcType=VARCHAR},</if>
	<if test="superviseResultNo != null">supervise_result_no=#{superviseResultNo,jdbcType=VARCHAR},</if>
	<if test="superviseTime != null">supervise_time=#{superviseTime,jdbcType=VARCHAR},</if>
	<if test="superviseDescript != null">supervise_descript=#{superviseDescript,jdbcType=VARCHAR},</if>
	<if test="superviseGist != null">supervise_gist=#{superviseGist,jdbcType=VARCHAR},</if>
	<if test="warningContent != null">warning_content=#{warningContent,jdbcType=VARCHAR},</if>
	<if test="dutyTacheCode != null">duty_tache_code=#{dutyTacheCode,jdbcType=VARCHAR},</if>
	<if test="ruleId != null">rule_id=#{ruleId,jdbcType=VARCHAR},</if>
	<if test="feedbackEndtime != null">feedback_endtime=#{feedbackEndtime,jdbcType=VARCHAR},</if>
	<if test="state != null">state=#{state,jdbcType=VARCHAR},</if>
	<if test="lastUpdatetime != null">last_updatetime=#{lastUpdatetime,jdbcType=DATE},</if>
	<if test="ccFormInstanceid != null">cc_form_instanceid=#{ccFormInstanceid,jdbcType=VARCHAR},</if>
	<if test="remarka != null">remarka=#{remarka,jdbcType=VARCHAR},</if>
	<if test="remarkb != null">remarkb=#{remarkb,jdbcType=VARCHAR},</if>
	<if test="ruleVersion != null">rule_version=#{ruleVersion,jdbcType=VARCHAR},</if>
	<if test="orgId != null">org_id=#{orgId,jdbcType=VARCHAR},</if>
	<if test="tscxCode != null">tscx_code=#{tscxCode,jdbcType=VARCHAR},</if>
	<if test="pici != null">pici=#{pici,jdbcType=VARCHAR},</if>
	<if test="superviseResultName != null">supervise_result_name=#{superviseResultName,jdbcType=VARCHAR},</if>
	<if test="superviseTypeName != null">supervise_type_name=#{superviseTypeName,jdbcType=VARCHAR},</if>
	<if test="revocationReason != null">revocation_reason=#{revocationReason,jdbcType=VARCHAR},</if>
	<if test="startTime != null">start_time=#{startTime,jdbcType=DATE},</if>
	<if test="endTime != null">end_time=#{endTime,jdbcType=DATE},</if>
	<if test="status != null">status=#{status,jdbcType=VARCHAR},</if>
	<if test="promiseLimit != null">promise_limit=#{promiseLimit,jdbcType=NUMERIC},</if>
	<if test="processLimit != null">process_limit=#{processLimit,jdbcType=NUMERIC},</if>
	<if test="expireDate != null">expire_date=#{expireDate,jdbcType=DATE},</if>
	<if test="outDays != null">out_days=#{outDays,jdbcType=VARCHAR},</if>
	<if test="checkTime != null">check_time=#{checkTime,jdbcType=DATE},</if>
	<if test="checkStatus != null">check_status=#{checkStatus,jdbcType=VARCHAR},</if>
	<if test="checkEndTime != null">check_end_time=#{checkEndTime,jdbcType=DATE},</if>
	<if test="checkStatusTemp != null">check_status_temp=#{checkStatusTemp,jdbcType=VARCHAR},</if>
	<if test="batchId != null">batch_id=#{batchId,jdbcType=VARCHAR},</if>
	<if test="tbcxTimes != null">tbcx_times=#{tbcxTimes,jdbcType=VARCHAR},</if>
	<if test="approveId != null">approve_id=#{approveId,jdbcType=VARCHAR},</if>
	<if test="streetOrgId != null">street_org_id=#{streetOrgId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="superviseInfoId != null">and supervise_info_id = #{superviseInfoId}</when>
        <otherwise>and supervise_info_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update TA_JC_SUPERVISE_INFO
	<set>
		<trim suffixOverrides=",">
		    <if test="businessId==null">business_id = null,</if>
		    <if test="receiveOrgName==null">receive_org_name = null,</if>
		    <if test="superviseTypeNo==null">supervise_type_no = null,</if>
		    <if test="superviseResultNo==null">supervise_result_no = null,</if>
		    <if test="superviseTime==null">supervise_time = null,</if>
		    <if test="superviseDescript==null">supervise_descript = null,</if>
		    <if test="superviseGist==null">supervise_gist = null,</if>
		    <if test="warningContent==null">warning_content = null,</if>
		    <if test="dutyTacheCode==null">duty_tache_code = null,</if>
		    <if test="ruleId==null">rule_id = null,</if>
		    <if test="feedbackEndtime==null">feedback_endtime = null,</if>
		    <if test="state==null">state = null,</if>
		    <if test="lastUpdatetime==null">last_updatetime = null,</if>
		    <if test="ccFormInstanceid==null">cc_form_instanceid = null,</if>
		    <if test="remarka==null">remarka = null,</if>
		    <if test="remarkb==null">remarkb = null,</if>
		    <if test="ruleVersion==null">rule_version = null,</if>
		    <if test="orgId==null">org_id = null,</if>
		    <if test="tscxCode==null">tscx_code = null,</if>
		    <if test="pici==null">pici = null,</if>
		    <if test="superviseResultName==null">supervise_result_name = null,</if>
		    <if test="superviseTypeName==null">supervise_type_name = null,</if>
		    <if test="revocationReason==null">revocation_reason = null,</if>
		    <if test="startTime==null">start_time = null,</if>
		    <if test="endTime==null">end_time = null,</if>
		    <if test="status==null">status = null,</if>
		    <if test="promiseLimit==null">promise_limit = null,</if>
		    <if test="processLimit==null">process_limit = null,</if>
		    <if test="expireDate==null">expire_date = null,</if>
		    <if test="outDays==null">out_days = null,</if>
		    <if test="checkTime==null">check_time = null,</if>
		    <if test="checkStatus==null">check_status = null,</if>
		    <if test="checkEndTime==null">check_end_time = null,</if>
		    <if test="checkStatusTemp==null">check_status_temp = null,</if>
		    <if test="batchId==null">batch_id = null,</if>
		    <if test="tbcxTimes==null">tbcx_times = null,</if>
		    <if test="approveId==null">approve_id = null,</if>
		    <if test="streetOrgId==null">street_org_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="superviseInfoId != null">and supervise_info_id = #{superviseInfoId}</when>
			<otherwise>and supervise_info_id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo">
    delete from TA_JC_SUPERVISE_INFO where 1=1 and supervise_info_id = #{superviseInfoId}
</delete>

<!-- ElementID:select,Generated=false -->
<select id="select" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo" resultMap="SuperviserInfoResult">
  select 
    <include refid="column_sql"/>
      from TA_JC_SUPERVISE_INFO left join TA_JC_DIC_SUPERVISE_TYPE 
       on  TA_JC_SUPERVISE_INFO.supervise_type_no = TA_JC_DIC_SUPERVISE_TYPE.supervise_type_code
        left join TA_JC_DIC_SUPERVISE_RESULT
        on TA_JC_SUPERVISE_INFO.supervise_result_no = TA_JC_DIC_SUPERVISE_RESULT.supervise_result_code
     <where>
      <include refid="whereClause_sql"/>
    </where>
</select>


<!-- ElementID:insertBatch,Generated=false -->
<insert id="insertBatch" parameterType="list">
  insert into TA_JC_SUPERVISE_INFO 
    (supervise_info_id,business_id,receive_org_name,
    supervise_type_no,supervise_result_no,supervise_time,supervise_descript,
    supervise_gist,warning_content,duty_tache_code,rule_id,
    feedback_endtime,state,last_updatetime,cc_form_instanceid,remarka,
    remarkb,rule_version,org_id,tscx_code,pici,revocation_reason
    ,start_time,end_time,status,promise_limit,process_limit,expire_date,out_days
    ,tbcx_times,batch_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
    select 
    #{entity.superviseInfoId,jdbcType = VARCHAR},
        #{entity.businessId,jdbcType = VARCHAR},
        #{entity.receiveOrgName,jdbcType = VARCHAR},
        #{entity.superviseTypeNo,jdbcType = VARCHAR},
        #{entity.superviseResultNo,jdbcType = VARCHAR},
        <if test="entity.superviseTime != null">to_date(#{entity.superviseTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss'),</if>
        <if test="entity.superviseTime == null">null,</if>
        #{entity.superviseDescript,jdbcType = VARCHAR},
        #{entity.superviseGist,jdbcType = VARCHAR},
        #{entity.warningContent,jdbcType = VARCHAR},
        #{entity.dutyTacheCode,jdbcType = VARCHAR},
        #{entity.ruleId,jdbcType = VARCHAR},
        <if test="entity.feedbackEndtime != null">to_date(#{entity.feedbackEndtime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss'),</if>
        <if test="entity.feedbackEndtime == null">null,</if>
        #{entity.state,jdbcType = VARCHAR},
        <if test="entity.lastUpdatetime != null">to_date(#{entity.lastUpdatetime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss'),</if>
        <if test="entity.lastUpdatetime == null">null,</if>
        #{entity.ccFormInstanceid,jdbcType = VARCHAR},
        #{entity.remarka,jdbcType = VARCHAR},
        #{entity.remarkb,jdbcType = VARCHAR},
        #{entity.ruleVersion,jdbcType = VARCHAR},
        #{entity.orgId,jdbcType = VARCHAR},
        #{entity.tscxCode,jdbcType = VARCHAR},
        #{entity.pici,jdbcType = VARCHAR},
        #{entity.revocationReason,jdbcType = VARCHAR},
        #{entity.startTime,jdbcType = DATE},
        #{entity.endTime,jdbcType = DATE},
        #{entity.status,jdbcType = VARCHAR},
        #{entity.promiseLimit,jdbcType = DOUBLE},
        #{entity.processLimit,jdbcType = DOUBLE},
        #{entity.expireDate,jdbcType = DATE},
        #{entity.outDays,jdbcType = VARCHAR},
        #{entity.tbcxTimes,jdbcType = VARCHAR},
        #{entity.batchId,jdbcType = VARCHAR}
    from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from TA_JC_SUPERVISE_INFO where supervise_info_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.superviseInfoId}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->


<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="SuperviserInfoResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_SUPERVISE_INFO 
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="SuperviserInfoResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_SUPERVISE_INFO 
	where TA_JC_SUPERVISE_INFO.supervise_info_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		TA_JC_SUPERVISE_INFO.supervise_info_id
	    from TA_JC_SUPERVISE_INFO 
		 <where>
	        <if test="entity.superviseInfoId != null">and TA_JC_SUPERVISE_INFO.supervise_info_id = #{entity.superviseInfoId}</if>
	        <if test="entity.businessId != null">and TA_JC_SUPERVISE_INFO.business_id = #{entity.businessId}</if>
	        <if test="entity.receiveOrgName != null">and TA_JC_SUPERVISE_INFO.receive_org_name = #{entity.receiveOrgName}</if>
	        <if test="entity.superviseTypeNo != null">and TA_JC_SUPERVISE_INFO.supervise_type_no = #{entity.superviseTypeNo}</if>
	        <if test="entity.superviseResultNo != null">and TA_JC_SUPERVISE_INFO.supervise_result_no = #{entity.superviseResultNo}</if>
	        <if test="entity.superviseTime != null">and TA_JC_SUPERVISE_INFO.supervise_time = #{entity.superviseTime}</if>
	        <if test="entity.superviseDescript != null">and TA_JC_SUPERVISE_INFO.supervise_descript = #{entity.superviseDescript}</if>
	        <if test="entity.superviseGist != null">and TA_JC_SUPERVISE_INFO.supervise_gist = #{entity.superviseGist}</if>
	        <if test="entity.warningContent != null">and TA_JC_SUPERVISE_INFO.warning_content = #{entity.warningContent}</if>
	        <if test="entity.dutyTacheCode != null">and TA_JC_SUPERVISE_INFO.duty_tache_code = #{entity.dutyTacheCode}</if>
	        <if test="entity.ruleId != null">and TA_JC_SUPERVISE_INFO.rule_id = #{entity.ruleId}</if>
	        <if test="entity.feedbackEndtime != null">and TA_JC_SUPERVISE_INFO.feedback_endtime = #{entity.feedbackEndtime}</if>
	        <if test="entity.state != null">and TA_JC_SUPERVISE_INFO.state = #{entity.state}</if>
	        <if test="entity.lastUpdatetime != null">and TA_JC_SUPERVISE_INFO.last_updatetime = #{entity.lastUpdatetime}</if>
	        <if test="entity.ccFormInstanceid != null">and TA_JC_SUPERVISE_INFO.cc_form_instanceid = #{entity.ccFormInstanceid}</if>
	        <if test="entity.remarka != null">and TA_JC_SUPERVISE_INFO.remarka = #{entity.remarka}</if>
	        <if test="entity.remarkb != null">and TA_JC_SUPERVISE_INFO.remarkb = #{entity.remarkb}</if>
	        <if test="entity.ruleVersion != null">and TA_JC_SUPERVISE_INFO.rule_version = #{entity.ruleVersion}</if>
	        <if test="entity.orgId != null">and TA_JC_SUPERVISE_INFO.org_id = #{entity.orgId}</if>
	        <if test="entity.tscxCode != null">and TA_JC_SUPERVISE_INFO.tscx_code = #{entity.tscxCode}</if>
	        <if test="entity.pici != null">and TA_JC_SUPERVISE_INFO.pici = #{entity.pici}</if>
	        <if test="entity.superviseResultName != null">and TA_JC_SUPERVISE_INFO.supervise_result_name = #{entity.superviseResultName}</if>
	        <if test="entity.superviseTypeName != null">and TA_JC_SUPERVISE_INFO.supervise_type_name = #{entity.superviseTypeName}</if>
	        <if test="entity.revocationReason != null">and TA_JC_SUPERVISE_INFO.revocation_reason = #{entity.revocationReason}</if>
	        <if test="entity.startTime != null">and TA_JC_SUPERVISE_INFO.start_time = #{entity.startTime}</if>
	        <if test="entity.endTime != null">and TA_JC_SUPERVISE_INFO.end_time = #{entity.endTime}</if>
	        <if test="entity.status != null">and TA_JC_SUPERVISE_INFO.status = #{entity.status}</if>
	        <if test="entity.promiseLimit != null">and TA_JC_SUPERVISE_INFO.promise_limit = #{entity.promiseLimit}</if>
	        <if test="entity.processLimit != null">and TA_JC_SUPERVISE_INFO.process_limit = #{entity.processLimit}</if>
	        <if test="entity.expireDate != null">and TA_JC_SUPERVISE_INFO.expire_date = #{entity.expireDate}</if>
	        <if test="entity.outDays != null">and TA_JC_SUPERVISE_INFO.out_days = #{entity.outDays}</if>
	        <if test="entity.checkTime != null">and TA_JC_SUPERVISE_INFO.check_time = #{entity.checkTime}</if>
	        <if test="entity.checkStatus != null">and TA_JC_SUPERVISE_INFO.check_status = #{entity.checkStatus}</if>
	        <if test="entity.checkEndTime != null">and TA_JC_SUPERVISE_INFO.check_end_time = #{entity.checkEndTime}</if>
	        <if test="entity.checkStatusTemp != null">and TA_JC_SUPERVISE_INFO.check_status_temp = #{entity.checkStatusTemp}</if>
	        <if test="entity.batchId != null">and TA_JC_SUPERVISE_INFO.batch_id = #{entity.batchId}</if>
	        <if test="entity.tbcxTimes != null">and TA_JC_SUPERVISE_INFO.tbcx_times = #{entity.tbcxTimes}</if>
	        <if test="entity.approveId != null">and TA_JC_SUPERVISE_INFO.approve_id = #{entity.approveId}</if>
	        <if test="entity.streetOrgId != null">and TA_JC_SUPERVISE_INFO.street_org_id = #{entity.streetOrgId}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectUnion,Generated=true -->
<select id="selectUnion" parameterType="list" resultMap="SuperviserInfoResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_SUPERVISE_INFO 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 supervise_info_id
		FROM TA_JC_SUPERVISE_INFO 
			<where>
	        <if test="entity.superviseInfoId != null">and TA_JC_SUPERVISE_INFO.supervise_info_id = #{entity.superviseInfoId}</if>
	        <if test="entity.businessId != null">and TA_JC_SUPERVISE_INFO.business_id = #{entity.businessId}</if>
	        <if test="entity.receiveOrgName != null">and TA_JC_SUPERVISE_INFO.receive_org_name = #{entity.receiveOrgName}</if>
	        <if test="entity.superviseTypeNo != null">and TA_JC_SUPERVISE_INFO.supervise_type_no = #{entity.superviseTypeNo}</if>
	        <if test="entity.superviseResultNo != null">and TA_JC_SUPERVISE_INFO.supervise_result_no = #{entity.superviseResultNo}</if>
	        <if test="entity.superviseTime != null">and TA_JC_SUPERVISE_INFO.supervise_time = #{entity.superviseTime}</if>
	        <if test="entity.superviseDescript != null">and TA_JC_SUPERVISE_INFO.supervise_descript = #{entity.superviseDescript}</if>
	        <if test="entity.superviseGist != null">and TA_JC_SUPERVISE_INFO.supervise_gist = #{entity.superviseGist}</if>
	        <if test="entity.warningContent != null">and TA_JC_SUPERVISE_INFO.warning_content = #{entity.warningContent}</if>
	        <if test="entity.dutyTacheCode != null">and TA_JC_SUPERVISE_INFO.duty_tache_code = #{entity.dutyTacheCode}</if>
	        <if test="entity.ruleId != null">and TA_JC_SUPERVISE_INFO.rule_id = #{entity.ruleId}</if>
	        <if test="entity.feedbackEndtime != null">and TA_JC_SUPERVISE_INFO.feedback_endtime = #{entity.feedbackEndtime}</if>
	        <if test="entity.state != null">and TA_JC_SUPERVISE_INFO.state = #{entity.state}</if>
	        <if test="entity.lastUpdatetime != null">and TA_JC_SUPERVISE_INFO.last_updatetime = #{entity.lastUpdatetime}</if>
	        <if test="entity.ccFormInstanceid != null">and TA_JC_SUPERVISE_INFO.cc_form_instanceid = #{entity.ccFormInstanceid}</if>
	        <if test="entity.remarka != null">and TA_JC_SUPERVISE_INFO.remarka = #{entity.remarka}</if>
	        <if test="entity.remarkb != null">and TA_JC_SUPERVISE_INFO.remarkb = #{entity.remarkb}</if>
	        <if test="entity.ruleVersion != null">and TA_JC_SUPERVISE_INFO.rule_version = #{entity.ruleVersion}</if>
	        <if test="entity.orgId != null">and TA_JC_SUPERVISE_INFO.org_id = #{entity.orgId}</if>
	        <if test="entity.tscxCode != null">and TA_JC_SUPERVISE_INFO.tscx_code = #{entity.tscxCode}</if>
	        <if test="entity.pici != null">and TA_JC_SUPERVISE_INFO.pici = #{entity.pici}</if>
	        <if test="entity.superviseResultName != null">and TA_JC_SUPERVISE_INFO.supervise_result_name = #{entity.superviseResultName}</if>
	        <if test="entity.superviseTypeName != null">and TA_JC_SUPERVISE_INFO.supervise_type_name = #{entity.superviseTypeName}</if>
	        <if test="entity.revocationReason != null">and TA_JC_SUPERVISE_INFO.revocation_reason = #{entity.revocationReason}</if>
	        <if test="entity.startTime != null">and TA_JC_SUPERVISE_INFO.start_time = #{entity.startTime}</if>
	        <if test="entity.endTime != null">and TA_JC_SUPERVISE_INFO.end_time = #{entity.endTime}</if>
	        <if test="entity.status != null">and TA_JC_SUPERVISE_INFO.status = #{entity.status}</if>
	        <if test="entity.promiseLimit != null">and TA_JC_SUPERVISE_INFO.promise_limit = #{entity.promiseLimit}</if>
	        <if test="entity.processLimit != null">and TA_JC_SUPERVISE_INFO.process_limit = #{entity.processLimit}</if>
	        <if test="entity.expireDate != null">and TA_JC_SUPERVISE_INFO.expire_date = #{entity.expireDate}</if>
	        <if test="entity.outDays != null">and TA_JC_SUPERVISE_INFO.out_days = #{entity.outDays}</if>
	        <if test="entity.checkTime != null">and TA_JC_SUPERVISE_INFO.check_time = #{entity.checkTime}</if>
	        <if test="entity.checkStatus != null">and TA_JC_SUPERVISE_INFO.check_status = #{entity.checkStatus}</if>
	        <if test="entity.checkEndTime != null">and TA_JC_SUPERVISE_INFO.check_end_time = #{entity.checkEndTime}</if>
	        <if test="entity.checkStatusTemp != null">and TA_JC_SUPERVISE_INFO.check_status_temp = #{entity.checkStatusTemp}</if>
	        <if test="entity.batchId != null">and TA_JC_SUPERVISE_INFO.batch_id = #{entity.batchId}</if>
	        <if test="entity.tbcxTimes != null">and TA_JC_SUPERVISE_INFO.tbcx_times = #{entity.tbcxTimes}</if>
	        <if test="entity.approveId != null">and TA_JC_SUPERVISE_INFO.approve_id = #{entity.approveId}</if>
	        <if test="entity.streetOrgId != null">and TA_JC_SUPERVISE_INFO.street_org_id = #{entity.streetOrgId}</if>
			</where>
</foreach>
	c2_temp_table ON TA_JC_SUPERVISE_INFO.supervise_info_id = c2_temp_table.supervise_info_id
</select>

<!-- ElementID:selectByID,Generated=false -->
<select id="selectByID" parameterType="java.lang.String" resultMap="SuperviserInfoResult">
  select 
    <include refid="column_sql"/>
      from TA_JC_SUPERVISE_INFO left join TA_JC_DIC_SUPERVISE_TYPE 
       on  TA_JC_SUPERVISE_INFO.supervise_type_no = TA_JC_DIC_SUPERVISE_TYPE.supervise_type_code
        left join TA_JC_DIC_SUPERVISE_RESULT
        on TA_JC_SUPERVISE_INFO.supervise_result_no = TA_JC_DIC_SUPERVISE_RESULT.supervise_result_code
      
     where TA_JC_SUPERVISE_INFO.supervise_info_id = #{superviseInfoId,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=false -->
<select id="selectByPage" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo" resultMap="SuperviserInfoResult">
  select 
    <include refid="column_sql"/> 
       from TA_JC_SUPERVISE_INFO left join TA_JC_DIC_SUPERVISE_TYPE 
       on  TA_JC_SUPERVISE_INFO.supervise_type_no = TA_JC_DIC_SUPERVISE_TYPE.supervise_type_code  
        left join TA_JC_DIC_SUPERVISE_RESULT 
        on TA_JC_SUPERVISE_INFO.supervise_result_no = TA_JC_DIC_SUPERVISE_RESULT.supervise_result_code 
      where 1=1  
      <if test="superviseInfoId !=null">and  TA_JC_SUPERVISE_INFO.supervise_info_id = substr(#{superviseInfoId,jdbcType=VARCHAR},0,INSTR(#{superviseInfoId},'_')-1)</if>
      <if test="businessId != null">and TA_JC_SUPERVISE_INFO.business_id = #{businessId}</if>
      <if test="superviseTypeNo != null">and TA_JC_SUPERVISE_INFO.supervise_type_no = #{superviseTypeNo}</if>
      <!-- <if test="superviseResultNo != null"><![CDATA[and TA_JC_SUPERVISE_INFO.supervise_result_no <= #{superviseResultNo}]]></if> -->
</select>


<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update TA_JC_SUPERVISE_INFO
	<set>
	<if test="entity.businessId != null">business_id= #{entity.businessId,jdbcType=VARCHAR},</if>
	<if test="entity.receiveOrgName != null">receive_org_name= #{entity.receiveOrgName,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTypeNo != null">supervise_type_no= #{entity.superviseTypeNo,jdbcType=VARCHAR},</if>
	<if test="entity.superviseResultNo != null">supervise_result_no= #{entity.superviseResultNo,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTime != null">supervise_time= #{entity.superviseTime,jdbcType=VARCHAR},</if>
	<if test="entity.superviseDescript != null">supervise_descript= #{entity.superviseDescript,jdbcType=VARCHAR},</if>
	<if test="entity.superviseGist != null">supervise_gist= #{entity.superviseGist,jdbcType=VARCHAR},</if>
	<if test="entity.warningContent != null">warning_content= #{entity.warningContent,jdbcType=VARCHAR},</if>
	<if test="entity.dutyTacheCode != null">duty_tache_code= #{entity.dutyTacheCode,jdbcType=VARCHAR},</if>
	<if test="entity.ruleId != null">rule_id= #{entity.ruleId,jdbcType=VARCHAR},</if>
	<if test="entity.feedbackEndtime != null">feedback_endtime= #{entity.feedbackEndtime,jdbcType=VARCHAR},</if>
	<if test="entity.state != null">state= #{entity.state,jdbcType=VARCHAR},</if>
	<if test="entity.lastUpdatetime != null">last_updatetime= #{entity.lastUpdatetime,jdbcType=DATE},</if>
	<if test="entity.ccFormInstanceid != null">cc_form_instanceid= #{entity.ccFormInstanceid,jdbcType=VARCHAR},</if>
	<if test="entity.remarka != null">remarka= #{entity.remarka,jdbcType=VARCHAR},</if>
	<if test="entity.remarkb != null">remarkb= #{entity.remarkb,jdbcType=VARCHAR},</if>
	<if test="entity.ruleVersion != null">rule_version= #{entity.ruleVersion,jdbcType=VARCHAR},</if>
	<if test="entity.orgId != null">org_id= #{entity.orgId,jdbcType=VARCHAR},</if>
	<if test="entity.tscxCode != null">tscx_code= #{entity.tscxCode,jdbcType=VARCHAR},</if>
	<if test="entity.pici != null">pici= #{entity.pici,jdbcType=VARCHAR},</if>
	<if test="entity.superviseResultName != null">supervise_result_name= #{entity.superviseResultName,jdbcType=VARCHAR},</if>
	<if test="entity.superviseTypeName != null">supervise_type_name= #{entity.superviseTypeName,jdbcType=VARCHAR},</if>
	<if test="entity.revocationReason != null">revocation_reason= #{entity.revocationReason,jdbcType=VARCHAR},</if>
	<if test="entity.startTime != null">start_time= #{entity.startTime,jdbcType=DATE},</if>
	<if test="entity.endTime != null">end_time= #{entity.endTime,jdbcType=DATE},</if>
	<if test="entity.status != null">status= #{entity.status,jdbcType=VARCHAR},</if>
	<if test="entity.promiseLimit != null">promise_limit= #{entity.promiseLimit,jdbcType=NUMERIC},</if>
	<if test="entity.processLimit != null">process_limit= #{entity.processLimit,jdbcType=NUMERIC},</if>
	<if test="entity.expireDate != null">expire_date= #{entity.expireDate,jdbcType=DATE},</if>
	<if test="entity.outDays != null">out_days= #{entity.outDays,jdbcType=VARCHAR},</if>
	<if test="entity.checkTime != null">check_time= #{entity.checkTime,jdbcType=DATE},</if>
	<if test="entity.checkStatus != null">check_status= #{entity.checkStatus,jdbcType=VARCHAR},</if>
	<if test="entity.checkEndTime != null">check_end_time= #{entity.checkEndTime,jdbcType=DATE},</if>
	<if test="entity.checkStatusTemp != null">check_status_temp= #{entity.checkStatusTemp,jdbcType=VARCHAR},</if>
	<if test="entity.batchId != null">batch_id= #{entity.batchId,jdbcType=VARCHAR},</if>
	<if test="entity.tbcxTimes != null">tbcx_times= #{entity.tbcxTimes,jdbcType=VARCHAR},</if>
	<if test="entity.approveId != null">approve_id= #{entity.approveId,jdbcType=VARCHAR},</if>
	<if test="entity.streetOrgId != null">street_org_id= #{entity.streetOrgId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.superviseInfoId != null">and supervise_info_id = #{entity.superviseInfoId}</when>
				<otherwise>and supervise_info_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<select id="selectSuperviseCount" parameterType="java.lang.String" resultType="java.util.Map">
	select  sum(case when a.supervise_result_no = '1' 
					and a.batch_id = #{batchId} then 1 else 0 end) as blueQty,
       	   sum(case when a.supervise_result_no = '2' 
       	   			and a.batch_id = #{batchId} then 1 else 0 end) as yellowQty,
       	   sum(case when a.supervise_result_no = '3' 
       	   			and a.batch_id = #{batchId} then 1 else 0 end) as redQty,
       	   count(a.supervise_info_id) as totalQty  
       from ta_jc_supervise_info a
</select>
<select id="findAllInfo" parameterType="com.chinacreator.dzjc_ruleEngine.SuperviserInfo" resultMap="SuperviserInfoResult" >
	select ta_jc_supervise_info.*,ta_sp_instance.approve_id from ta_jc_supervise_info 
	inner join ta_sp_instance  on ta_jc_supervise_info.business_id=ta_sp_instance.instance_id
	<include refid="whereClause_sql"></include>
</select>
</mapper>