<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_tongji.ManualDealStaInfoMapper">	

<!-- 查询全省或者根据城市查询 -->
<select id="queryProvinceOrCity" parameterType="java.util.Map" resultMap="TongJiResult">
	select 
       t1.ORG_ID as org_id,
       t1.ORG_CODE as areaOrgCode,
       t1.ORG_NAME as areaOrgName,
       NVL(t2.supervise_green_num, 0) AS supervise_green_num,
       NVL(t2.supervise_yello_num, 0) AS supervise_yello_num,
       NVL(t2.supervise_red_num, 0) AS supervise_red_num,
       NVL(t2.cancel_green_num, 0) AS cancel_green_num,
       NVL(t2.cancel_yellow_num, 0) AS cancel_yellow_num,
       NVL(t2.cancel_red_num, 0) AS cancel_red_num
  from V_JC_TONGJI_ORG t1
  left join (select 
  					<choose>
				      <when test="orgLevel == 1">
					      	si.CITY_CODE as area_code,
				      </when>
				      <when test="orgLevel == 2">
				      		si.COUNTY_CODE as area_code,
				      </when>
					</choose>
					SUM(si.HUMAN_SUPERVISE_GREEN_NUM) AS supervise_green_num,
                    SUM(si.HUMAN_SUPERVISE_YELLO_NUM) AS supervise_yello_num,
                    SUM(si.HUMAN_CANCEL_RED_NUM) AS supervise_red_num,
                    SUM(si.HUMAN_CANCEL_SUPERVISE_GREEN_NUM) AS cancel_green_num,
                    SUM(si.HUMAN_CANCEL_SUPERVISE_YELLO_NUM) AS cancel_yellow_num,
                    SUM(si.HUMAN_CANCEL_CANCEL_RED_NUM) AS cancel_red_num
               from V_TA_JC_SUM_SUPERVISE_HUMAN si
              where 1 = 1
              <if test="beginDate != null">
                 and si.SUPERVISE_TIME &gt;= #{beginDate,jdbcType=VARCHAR}
              </if>
              <if test="endDate != null">
                and si.SUPERVISE_TIME &lt;= #{endDate,jdbcType=VARCHAR}
              </if>
		    <choose>
		      <when test="orgLevel == 1">
			      	group by CITY_CODE) t2
			    on t1.CITY_CODE = t2.area_code
		      </when>
		      <when test="orgLevel == 2">
		      		group by COUNTY_CODE) t2
		    	on t1.COUNTY_CODE = t2.area_code
		      </when>
			</choose>
	 where 1 = 1
	 and t1.p_id = #{pId,jdbcType=VARCHAR}
	 <!-- group by t1.ORG_ID,t1.ORG_NAME, t1.ORG_CODE, t1.ORDER_NUM -->
	 order by t1.ORDER_NUM
</select>

<!-- 根据区县查询  orgLevel(3) -->
<select id="queryCounty" parameterType="java.util.Map" resultMap="TongJiResult">
			select 
			       t1.ORG_ID as org_id,
			       t1.ORG_CODE as areaOrgCode,
			       t1.ORG_NAME as areaOrgName,
			       NVL(t2.supervise_green_num, 0) AS supervise_green_num,
			       NVL(t2.supervise_yello_num, 0) AS supervise_yello_num,
			       NVL(t2.supervise_red_num, 0) AS supervise_red_num,
			       NVL(t2.cancel_green_num, 0) AS cancel_green_num,
			       NVL(t2.cancel_yellow_num, 0) AS cancel_yellow_num,
			       NVL(t2.cancel_red_num, 0) AS cancel_red_num
		  from V_JC_TONGJI_ORG t1
		  left join (select 
		  					si.ORG_ID as ORG_ID,
							SUM(si.HUMAN_SUPERVISE_GREEN_NUM) AS supervise_green_num,
		                    SUM(si.HUMAN_SUPERVISE_YELLO_NUM) AS supervise_yello_num,
		                    SUM(si.HUMAN_CANCEL_RED_NUM) AS supervise_red_num,
		                    SUM(si.HUMAN_CANCEL_SUPERVISE_GREEN_NUM) AS cancel_green_num,
		                    SUM(si.HUMAN_CANCEL_SUPERVISE_YELLO_NUM) AS cancel_yellow_num,
		                    SUM(si.HUMAN_CANCEL_CANCEL_RED_NUM) AS cancel_red_num
		               from V_TA_JC_SUM_SUPERVISE_HUMAN si
		              where 1 = 1
		              <if test="beginDate != null">
		                 and si.SUPERVISE_TIME &gt;= #{beginDate,jdbcType=VARCHAR}
		              </if>
		              <if test="endDate != null">
		                and si.SUPERVISE_TIME &lt;= #{endDate,jdbcType=VARCHAR}
		              </if>
		 		   	  group by ORG_ID) t2 on t1.ORG_ID = t2.ORG_ID
		 where 1 = 1
			   and t1.County_CODE = #{countyCode,jdbcType=VARCHAR}
			   and substr(ORG_CODE, 13) != '000000000000'
		<!--  group by t1.ORG_ID,t1.ORG_NAME, t1.ORG_CODE, t1.ORDER_NUM -->
		 order by t1.ORDER_NUM
</select>

<!-- 查询单个机构   orgLevel(5) -->
<select id="queryByOrg" parameterType="java.util.Map" resultMap="TongJiResult">
	select 
	       t1.ORG_ID as org_id,
	       t1.ORG_CODE as areaOrgCode,
	       t1.ORG_NAME as areaOrgName,
	       NVL(t2.supervise_green_num, 0) AS supervise_green_num,
	       NVL(t2.supervise_yello_num, 0) AS supervise_yello_num,
	       NVL(t2.supervise_red_num, 0) AS supervise_red_num,
	       NVL(t2.cancel_green_num, 0) AS cancel_green_num,
	       NVL(t2.cancel_yellow_num, 0) AS cancel_yellow_num,
	       NVL(t2.cancel_red_num, 0) AS cancel_red_num
	  from V_JC_TONGJI_ORG t1
	  left join (select 
	  					si.org_id,
	  					SUM(si.HUMAN_SUPERVISE_GREEN_NUM) AS supervise_green_num,
	                    SUM(si.HUMAN_SUPERVISE_YELLO_NUM) AS supervise_yello_num,
	                    SUM(si.HUMAN_CANCEL_RED_NUM) AS supervise_red_num,
	                    SUM(si.HUMAN_CANCEL_SUPERVISE_GREEN_NUM) AS cancel_green_num,
	                    SUM(si.HUMAN_CANCEL_SUPERVISE_YELLO_NUM) AS cancel_yellow_num,
	                    SUM(si.HUMAN_CANCEL_CANCEL_RED_NUM) AS cancel_red_num
		               from V_TA_JC_SUM_SUPERVISE_HUMAN si
	              where 1 = 1
	              <if test="beginDate != null">
	                 and si.SUPERVISE_TIME &gt;= #{beginDate,jdbcType=VARCHAR}
	              </if>
	              <if test="endDate != null">
	                and si.SUPERVISE_TIME &lt;= #{endDate,jdbcType=VARCHAR}
	              </if>
		      	  group by org_id) t2 on t1.org_id = t2.org_id
	 where 1 = 1
	   and t1.org_id = #{orgId,jdbcType=VARCHAR}
<!-- 	 group by t1.ORG_ID,t1.ORG_NAME, t1.ORG_CODE, t1.ORDER_NUM -->
	 order by t1.ORDER_NUM
</select>

<!-- 查询省本级或者市本级   orgLevel(5)-->
<select id="queryBenJi" parameterType="java.util.Map" resultMap="TongJiResult">
		select 
		       t1.ORG_ID as org_id,
		       t1.ORG_CODE as areaOrgCode,
		       t1.ORG_NAME as areaOrgName,
		       NVL(t2.supervise_green_num, 0) AS supervise_green_num,
		       NVL(t2.supervise_yello_num, 0) AS supervise_yello_num,
		       NVL(t2.supervise_red_num, 0) AS supervise_red_num,
		       NVL(t2.cancel_green_num, 0) AS cancel_green_num,
		       NVL(t2.cancel_yellow_num, 0) AS cancel_yellow_num,
		       NVL(t2.cancel_red_num, 0) AS cancel_red_num
		  from V_JC_TONGJI_ORG t1
		  left join (select 
		  					si.org_id,
		  					SUM(si.HUMAN_SUPERVISE_GREEN_NUM) AS supervise_green_num,
		                    SUM(si.HUMAN_SUPERVISE_YELLO_NUM) AS supervise_yello_num,
		                    SUM(si.HUMAN_CANCEL_RED_NUM) AS supervise_red_num,
		                    SUM(si.HUMAN_CANCEL_SUPERVISE_GREEN_NUM) AS cancel_green_num,
		                    SUM(si.HUMAN_CANCEL_SUPERVISE_YELLO_NUM) AS cancel_yellow_num,
		                    SUM(si.HUMAN_CANCEL_CANCEL_RED_NUM) AS cancel_red_num
				       from V_TA_JC_SUM_SUPERVISE_HUMAN si
		              where 1 = 1
		              <if test="beginDate != null">
		                 and si.SUPERVISE_TIME &gt;= #{beginDate,jdbcType=VARCHAR}
		              </if>
		              <if test="endDate != null">
		                and si.SUPERVISE_TIME &lt;= #{endDate,jdbcType=VARCHAR}
		              </if>
			      	  group by org_id) t2 on t1.org_id = t2.org_id
		 where 1 = 1
		   and t1.p_id = #{pId,jdbcType=VARCHAR}
		 <!-- group by t1.ORG_ID,t1.ORG_NAME, t1.ORG_CODE, t1.ORDER_NUM -->
		 order by t1.ORDER_NUM
</select>


<!-- ElementID:TongJiResult,Generated=true -->
<resultMap id="TongJiResult" type="com.chinacreator.dzjc_tongji.TongJi">
	<id property="recordId" column="record_id"/>
	<result property="orgId" column="org_id"/>
	<result property="areaOrgName" column="area_org_name"/>
	<result property="areaOrgCode" column="area_org_code"/>
	<result property="provinceCode" column="province_code"/>
	<result property="cityCode" column="city_code"/>
	<result property="countyCode" column="county_code"/>
	<result property="streetCode" column="street_code"/>
	<result property="villageCode" column="village_code"/>
	<result property="orgLevel" column="org_level"/>
	<result property="orgThisLevel" column="org_this_level"/>
	<result property="superviseGreenNum" column="supervise_green_num"/>
	<result property="superviseYelloNum" column="supervise_yello_num"/>
	<result property="superviseRedNum" column="supervise_red_num"/>
	<result property="cancelGreenNum" column="cancel_green_num"/>
	<result property="cancelYellowNum" column="cancel_yellow_num"/>
	<result property="cancelRedNum" column="cancel_red_num"/>
</resultMap>

</mapper>
