<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.dzjc_performance.EvalPointListMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  TA_JC_EVAL_POINT_VALUE_HIS.id ,
		  TA_JC_EVAL_POINT_VALUE_HIS.point_name ,
		  TA_JC_EVAL_POINT_VALUE_HIS.point_score ,
		  TA_JC_EVAL_POINT_VALUE_HIS.subtraction ,
		  TA_JC_EVAL_POINT_VALUE_HIS.reasonsforbonus ,
		  TA_JC_EVAL_POINT_VALUE_HIS.deduct_reasons 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and TA_JC_EVAL_POINT_VALUE_HIS.id = #{id}</if>
	    <if test="pointName != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_name = #{pointName}</if>
	    <if test="pointScore != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_score = #{pointScore}</if>
	    <if test="subtraction != null">and TA_JC_EVAL_POINT_VALUE_HIS.subtraction = #{subtraction}</if>
	    <if test="reasonsforbonus != null">and TA_JC_EVAL_POINT_VALUE_HIS.reasonsforbonus = #{reasonsforbonus}</if>
	    <if test="deductReasons != null">and TA_JC_EVAL_POINT_VALUE_HIS.deduct_reasons = #{deductReasons}</if>
</sql>


<!-- ElementID:EvalPointListResult,Generated=true -->
<resultMap id="EvalPointListResult" type="com.chinacreator.dzjc_performance.EvalPointList">
	<id property="id" column="id"/>
	<result property="pointName" column="point_name"/>
	<result property="pointScore" column="point_score"/>
	<result property="subtraction" column="subtraction"/>
	<result property="reasonsforbonus" column="reasonsforbonus"/>
	<result property="deductReasons" column="deduct_reasons"/>
</resultMap>


<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.dzjc_performance.EvalPointList">
	insert into TA_JC_EVAL_POINT_VALUE_HIS(
	         <if test="id != null">id</if>
	         <if test="pointName != null">,point_name</if>
	         <if test="pointScore != null">,point_score</if>
	         <if test="subtraction != null">,subtraction</if>
	         <if test="reasonsforbonus != null">,reasonsforbonus</if>
	         <if test="deductReasons != null">,deduct_reasons</if>
	 	 	 )
	 values (
	         <if test="id != null">#{id,jdbcType=VARCHAR}</if>
	         <if test="pointName != null">,#{pointName,jdbcType=VARCHAR}</if>
	         <if test="pointScore != null">,#{pointScore,jdbcType=NUMERIC}</if>
	         <if test="subtraction != null">,#{subtraction,jdbcType=NUMERIC}</if>
	         <if test="reasonsforbonus != null">,#{reasonsforbonus,jdbcType=VARCHAR}</if>
	         <if test="deductReasons != null">,#{deductReasons,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.dzjc_performance.EvalPointList" resultType="int">
	select count(*) from TA_JC_EVAL_POINT_VALUE_HIS 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.dzjc_performance.EvalPointList">
	update TA_JC_EVAL_POINT_VALUE_HIS
<set>
	<if test="pointName != null">point_name=#{pointName,jdbcType=VARCHAR},</if>
	<if test="pointScore != null">point_score=#{pointScore,jdbcType=NUMERIC},</if>
	<if test="subtraction != null">subtraction=#{subtraction,jdbcType=NUMERIC},</if>
	<if test="reasonsforbonus != null">reasonsforbonus=#{reasonsforbonus,jdbcType=VARCHAR},</if>
	<if test="deductReasons != null">deduct_reasons=#{deductReasons,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update TA_JC_EVAL_POINT_VALUE_HIS
	<set>
		<trim suffixOverrides=",">
		    <if test="pointName==null">point_name = null,</if>
		    <if test="pointScore==null">point_score = null,</if>
		    <if test="subtraction==null">subtraction = null,</if>
		    <if test="reasonsforbonus==null">reasonsforbonus = null,</if>
		    <if test="deductReasons==null">deduct_reasons = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.dzjc_performance.EvalPointList">
    delete from TA_JC_EVAL_POINT_VALUE_HIS where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.dzjc_performance.EvalPointList" resultMap="EvalPointListResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_EVAL_POINT_VALUE_HIS 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into TA_JC_EVAL_POINT_VALUE_HIS (id,point_name,point_score,subtraction,reasonsforbonus,deduct_reasons) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.id,jdbcType = VARCHAR},
				#{entity.pointName,jdbcType = VARCHAR},
				#{entity.pointScore,jdbcType = NUMERIC},
				#{entity.subtraction,jdbcType = NUMERIC},
				#{entity.reasonsforbonus,jdbcType = VARCHAR},
				#{entity.deductReasons,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from TA_JC_EVAL_POINT_VALUE_HIS where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.id}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update TA_JC_EVAL_POINT_VALUE_HIS
	<set>
	<if test="entity.pointName != null">point_name= #{entity.pointName,jdbcType=VARCHAR},</if>
	<if test="entity.pointScore != null">point_score= #{entity.pointScore,jdbcType=NUMERIC},</if>
	<if test="entity.subtraction != null">subtraction= #{entity.subtraction,jdbcType=NUMERIC},</if>
	<if test="entity.reasonsforbonus != null">reasonsforbonus= #{entity.reasonsforbonus,jdbcType=VARCHAR},</if>
	<if test="entity.deductReasons != null">deduct_reasons= #{entity.deductReasons,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.id != null">and id = #{entity.id}</when>
				<otherwise>and id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="EvalPointListResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_EVAL_POINT_VALUE_HIS 
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="EvalPointListResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_EVAL_POINT_VALUE_HIS 
	where TA_JC_EVAL_POINT_VALUE_HIS.id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		TA_JC_EVAL_POINT_VALUE_HIS.id
	    from TA_JC_EVAL_POINT_VALUE_HIS 
		 <where>
	        <if test="entity.id != null">and TA_JC_EVAL_POINT_VALUE_HIS.id = #{entity.id}</if>
	        <if test="entity.pointName != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_name = #{entity.pointName}</if>
	        <if test="entity.pointScore != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_score = #{entity.pointScore}</if>
	        <if test="entity.subtraction != null">and TA_JC_EVAL_POINT_VALUE_HIS.subtraction = #{entity.subtraction}</if>
	        <if test="entity.reasonsforbonus != null">and TA_JC_EVAL_POINT_VALUE_HIS.reasonsforbonus = #{entity.reasonsforbonus}</if>
	        <if test="entity.deductReasons != null">and TA_JC_EVAL_POINT_VALUE_HIS.deduct_reasons = #{entity.deductReasons}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectUnion,Generated=true -->
<select id="selectUnion" parameterType="list" resultMap="EvalPointListResult">
select 
	<include refid="column_sql"/> 
	from TA_JC_EVAL_POINT_VALUE_HIS 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 id
		FROM TA_JC_EVAL_POINT_VALUE_HIS 
			<where>
	        <if test="entity.id != null">and TA_JC_EVAL_POINT_VALUE_HIS.id = #{entity.id}</if>
	        <if test="entity.pointName != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_name = #{entity.pointName}</if>
	        <if test="entity.pointScore != null">and TA_JC_EVAL_POINT_VALUE_HIS.point_score = #{entity.pointScore}</if>
	        <if test="entity.subtraction != null">and TA_JC_EVAL_POINT_VALUE_HIS.subtraction = #{entity.subtraction}</if>
	        <if test="entity.reasonsforbonus != null">and TA_JC_EVAL_POINT_VALUE_HIS.reasonsforbonus = #{entity.reasonsforbonus}</if>
	        <if test="entity.deductReasons != null">and TA_JC_EVAL_POINT_VALUE_HIS.deduct_reasons = #{entity.deductReasons}</if>
			</where>
</foreach>
	c2_temp_table ON TA_JC_EVAL_POINT_VALUE_HIS.id = c2_temp_table.id
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="EvalPointListResult">
	select 
		<include refid="column_sql"/>
	    from TA_JC_EVAL_POINT_VALUE_HIS 
		 where TA_JC_EVAL_POINT_VALUE_HIS.id = #{id,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=false -->
<select id="selectByPage" parameterType="com.chinacreator.dzjc_performance.EvalPointList" resultMap="EvalPointListResult">
				SELECT DISTINCT HIS.point_score pointScore,
			       HIS.subtraction subtraction,
			       OBJ.reasonsforbonus reasonsforbonus,
			       HIS.point_name pointName,
			       his.deduct_reasons deductReasons
			  FROM TA_JC_EVAL_POINT_VALUE_HIS HIS
			  JOIN TA_JC_EVAL_POINT_VALUE VA
			    ON HIS.TA_JC_EVAL_POINT_VALUE_ID = VA.ID
			  JOIN TA_JC_EVAL_OBJECT OBJ
			    ON VA.EVAL_INSTANCE_ID = OBJ.EVAL_INSTANCE_ID
			    where 1=1 
			    <if test="id!=null">  and OBJ.id=#{id} </if>
			    <if test="pointName!=null"> and va.eval_object_name=#{pointName} </if>
</select>

</mapper>